    .demo_img img{display: block;width: 100%;}
    .demo_1img img{display: block;width: 100%;}
    .demo_1img{margin-top: -282px;}
    .common_width{
        width: 1677px;
        margin: 0 auto;
    }
    .PBC_banner{
        background:url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBCBanner_doctors.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_Banner_ambulance.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_banner_BGimage.webp);
        background-repeat: no-repeat;
        background-size: 683px, 768px, cover;
        background-position:bottom -72px right 421px , right bottom -65px, top center;
        margin-top: -277px;
        padding-top: 277px;
        padding-bottom: 80px;
    }
    .PBC_banner_wrpr{
        width: 70%;
    }
    .PBC_bannerTop{
        position: relative;
        padding-left: 185px;
        margin-bottom: 45px;
    }
    .PBC_bannerTop h1{
        position: relative;
        font-size: 79px;
        font-weight: 800;
        background: linear-gradient(0deg, rgba(255,255,255,1) 35%, rgba(208,207,218,1) 50%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0px 0px 5px #221f6b63) drop-shadow(0px 0px 3px #221f6b63) drop-shadow(0px 0px 2px #221f6b63);
        -webkit-text-stroke: 2px #f2f4f8;
        display: inline;
        margin-bottom: 30px;
        text-transform: uppercase;
        line-height: 73px;
    }
    .PBC_bannerTop::before {
        position: absolute;
        content: '';
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/docGlobe.png);
        background-size: 100% 100%;
        width: 190px;
        height: 149px;
        top: 50%;
        left: -20px;
        transform: translateY(-43%);
    }
    .PBC_bannerBottom{
        position: relative;
        width: 72%;
    }
    .PBC_bannerBottom p{
        padding: 18px 20px;
        background:url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_bannerBottom_BGimage.webp), linear-gradient(0deg, rgba(255,124,28,1) 0%, rgba(255,178,58,1) 100%);
        background-repeat: no-repeat;
        background-size: contain , 100%;
        background-position: right center, center;
        width: 100%;
        padding-right: 120px;
        border-radius: 15px;
        border: 2px solid #fff;
        position: relative;
        z-index: 1;
        font-size: 38px;
        font-weight: 600;
        color: #000000;
        text-transform: capitalize;
        line-height: 41px;
        text-shadow: 0 1px 1px #ffea03;
    }
    .PBC_bannerBottom img{
        position: absolute;
        right: -170px;
        top: 30%;
        transform: translateY(-50%);
        z-index: 2;
    }
    .PBC_bannerBottom::after{
        background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_bannerBottom_shadow.webp);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top center;
        position: absolute;
        content: '';
        width: 100%;
        height: 65px;
        left: 52%;
        bottom: -28px;
        transform: translateX(-50%);
    }
    /* -------------- block1 ------------ */
    .PBC_block1_wrpr{
        width: 61%;
        margin: 0 0 0 auto;
    }
    .PBC_block1{
        background:url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block1_BGimageDoc.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_block1_wrprBGimage.webp);
        background-repeat: no-repeat;
        background-size: contain , cover;
        background-position: left center, center;
        padding: 40px 0; 
        border-top: 1px solid #31ffe9;
    }
    .PBC_block1_wrpr h1,
    .PBC_block3 h1{
        font-size: 50px;
        font-weight: 900;
        background: linear-gradient(0deg, rgba(165,168,174,1) 0%, rgba(255,255,255,1) 100%);        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        line-height: 44px;
        text-transform: uppercase;
    }
    .PBC_block1_wrpr p{
        font-size: 25px;
        font-weight: 500;
        color: #c5d0e0;
        line-height: 30px;
        margin-top: 15px;
    }
    /* -------------- block2 ------------ */
    .PBC_block2{
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block2BG_img.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top -70px center;
        padding:50px 0;
    }
    .PBC_block2_wrpr{
        border: 1px solid #959fa4;
        border-radius: 10px;
        background-color: #fff;
        padding: 20px;
    }
    .PBC_block2_wrpr h1,
    .PBC_B4_wrpr1_Inner1 h1,
    .PBC_block4_wrpr4 h1{
        font-size: 50px;
        font-weight: 900;
        background: linear-gradient(0deg, #021d33 0%, #4b6b70 100%);        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        line-height: 44px;
        text-transform: uppercase;
    }
    .PBC_block2_wrpr p ,
    .PBC_B4_wrpr1_Inner1 p,
    .PBC_block4_wrpr4 p{
        font-size: 25px;
        font-weight: 500;
        color: #353a42;
        line-height: 30px;
        margin-top: 15px;
    }
    .PBC_boxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .PBC_InnerBox{
        padding: 20px;
        background: linear-gradient(0deg, rgba(80,223,249,1) 0%, rgba(194,247,255,1) 100%);
        border: 1px solid #20c0ee;
        border-radius: 10px;
        width: calc(33.33% - 6px);
        margin-right: 9px;
        margin-top: 9px;
    }
    .PBC_InnerBox h2{
        font-size: 29px;
        font-weight: 700;
        color: #001e42;
        line-height: 32px;
    }

    .PBC_InnerBox:nth-child(3),
    .PBC_InnerBox:nth-child(6){
        margin-right: 0;
    }
    .PBC_InnerBox li{
        font-size: 21px;
        font-weight:500;
        color: #071f40;
        line-height: 27px;
        margin-top: 10px;
        position: relative;
        padding-left: 30px;
        display: inline-block;
    }
    .PBC_InnerBox ul{
        column-count: 2;
    }
    .windowBulletOrange li::after{
        content: '';
        position: absolute;
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Orange_window_Bullate.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 19px;
        width: 19px;
        left: 0px;
        top: 4px;
    }
    .PBC_InnerBox:nth-child(3) ul,
    .PBC_InnerBox:nth-child(6) ul{
        column-count: unset;
    }
    .PBC_InnerBox:nth-child(3) ul li,
    .PBC_InnerBox:nth-child(6) ul li{
        display: block;
    }

/* -------------- block3 ------------ */
    .PBC_block3{
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block3_BGimage2.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block3_BGimage1.webp);
        background-repeat: no-repeat;
        background-size: contain , cover;
        background-position: bottom  right , left center;
        padding: 35px 0;
    }
    .PBC_block3_wrpr{
        width: 50%;
    }
    .PBC_block3 h1{
        line-height: 50px;
    }
    .PBC_block3 p{
        font-size: 26px;
        font-weight:500;
        color: #c5d0e0;
        line-height: 30px;
        position: relative;
        padding-left: 30px;
        margin-top: 10px;
    }
    .PBC_B3_inner{
        background: linear-gradient(0deg, rgba(181,189,196,1) 0%, rgba(255,255,255,1) 100%);
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        margin-top: 10px;
    }
    .PBC_B3_inner h3{
        font-size: 22px;
        font-weight:700;
        color: #000;
        line-height: 34px;
        margin-right: 40px;
        padding-left: 30px;
        width: fit-content;
        position: relative;
    }
    .PBC_block3 h2{
        font-size: 26px;
        font-weight:700;
        color: #1edbfc;
        line-height: 34px;
        margin-top: 10px;
    }
    .PBC_B3_inner h3::after{
        content: '';
        position: absolute;
        background: linear-gradient(0deg, rgba(183,24,25,1) 0%, rgba(241,165,91,1) 100%);
        border: 1px solid #fff;
        border-radius: 50%;
        height: 17px;
        width: 17px;
        left: 0px;
        top: 7px;
    }
    .PBC_block3 p::after,
    .PBC_block5_wrpr p::after{
        content: '';
        position: absolute;
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/SkyBlue_window_Bullate.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 19px;
        width: 19px;
        left: 0px;
        top: 4px;
    }


    /* -------------- block3 ------------ */

    .PBC_block4{
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block4_full_BGimage.webp);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom center;
    }
    .PBC_block4_wrpr1{
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block4_1BGimage.webp);
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: top -22px left;
        padding: 40px 0;
    }
    .PBC_B4_wrpr1_Inner1{
        width: 68%;
        margin: 0 0 0 auto;
        
    }
    .PBC_B4_wrpr1_Inner2{
        padding: 20px;
        border: 3px solid #0e8fb2;
        background: linear-gradient(0deg, rgba(19,167,210,1) 0%, rgba(104,228,250,1) 100%);
        border-radius: 15px;
        margin-top: 30px;
    }
    .PBC_B4_wrpr1_Inner2 h2{
        font-size: 35px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 34px;
        background: linear-gradient(0deg, rgba(1,11,36,1) 0%, rgba(16,81,118,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        padding-right: 10px;
    }
    .PBC_B4_wrpr1_Inner2Box{
        background: linear-gradient(0deg, rgba(209,213,218,1) 0%, rgba(255,255,255,1) 100%);
        border-radius: 15px;
        padding: 20px;
        border: 2px solid #fff;
        box-shadow: 0 0 8px 1px #11697f59;
        margin-top: 10px;
    }
    .PBC_B4_wrpr1_Inner2Box h3{
        font-size: 35px;
        font-weight: 700;
        line-height: 34px;
        color: #000;
        margin-bottom: 10px;
    }
    .PBC_B4_wrpr1_Inner2Flex{
        display: flex;
        justify-content: space-between;
    }
    .PBC_B4_wrpr1_Inner2mini{
        width: 33%;
    }
    .PBC_B4_wrpr1_Inner2mini p{
        font-size: 22px;
        font-weight: 500;
        color: #1d2128;
        line-height: 30px;
        padding-left: 30px;
        position: relative;
    }
    .PBC_B4_wrpr1_Inner2mini h4{
        margin-bottom: 10px;
        font-size: 29px;
        font-weight: 700;
        color: #0e1a52;
        line-height: 29px;
    }
    .PBC_B4_wrpr1_Inner2mini p::after,
    .PBC_B4_wrpr2_InnerBoxs p::after{
        content: '';
        position: absolute;
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Orange_window_Bullate.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 19px;
        width: 19px;
        left: 0px;
        top: 4px;
    }
    .PBC_B4_wrpr1_Inner2 h5{
        font-size: 35px;
        font-weight: 700;
        line-height: 34px;
        color: #fff;
        text-shadow: 0 0 5px #002b37c2;
        margin-top: 20px;
    }
    .PBC_block4_wrpr2 h1{
        font-size: 40px;
        font-weight: 900;
        background: linear-gradient(0deg, #021d33 0%, #4b6b70 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        line-height: 46px;
        text-transform: uppercase;
    }
    .PBC_block4_wrpr2 h2{
        font-size: 35px;
        font-weight: 700;
        line-height: 34px;
        color: #0a81a0;
        margin-top: 15px;
    }
    .PBC_B4_wrpr2_Inner1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .PBC_B4_wrpr2_InnerBoxs{
        width: 33%;
        margin-top: 10px;
    }
    .PBC_B4_wrpr2_InnerBoxs h3 span{
        font-size: 25px;
        font-weight: 700;
        background: linear-gradient(0deg, rgba(165,168,174,1) 0%, rgba(255,255,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
    }
    .PBC_B4_wrpr2_InnerBoxs h3 {
        padding: 15px;
        background: linear-gradient(0deg, rgba(0,0,1,1) 0%, rgba(75,78,84,1) 100%);
        border-radius: 3px;
        margin-bottom: 15px;
    }
    .PBC_B4_wrpr2_InnerBoxs p{
        position: relative;
        padding-left: 30px;
        font-size: 22px;
        color: #353a42;
        font-weight: 500;
        line-height: 34px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .PBC_B4_wrpr2_InnerBoxs p span{
        padding-left: 30px;
        position: relative;
        white-space: nowrap;
    }
    .PBC_B4_wrpr2_InnerBoxs p span::after{
        content: '';
        position: absolute;
        background: linear-gradient(0deg, rgba(4,53,114,1) 0%, rgba(6,201,243,1) 100%);
        border: 1px solid #fff;
        border-radius: 50%;
        height: 17px;
        width: 17px;
        left: 6px;
        top: 3px;
    }
    .PBC_block4_wrpr3{
        display: flex;
        justify-content: space-between;
    }
    .PBC_block4_wrpr3_Inner{
        width: 49%;
    }
    .PBC_block4_wrpr3_Inner h1{
        font-size: 29px;
        font-weight: 700;
        background: linear-gradient(0deg, rgba(165,168,174,1) 0%, rgba(255,255,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        line-height: 33px;
    }
    .PBC_block4_wrpr3_Inner p{
        font-size: 26px;
        font-weight: 500;
        color: #0fffff;
        line-height: 34px;
        position: relative;
        padding-left: 30px;
        margin-top: 10px;
    }
    .PBC_block4_wrpr3_Inner p::after{
        content: '';
        position: absolute;
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/LightGreen_window_Bullate.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 19px;
        width: 19px;
        left: 0px;
        top: 7px;
    }
    .PBC_block4_wrpr3{
        padding: 30px 40px;
        margin-top: 20px;
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_block4_wrpr3_BGimage.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        border: 2px solid #000;
    }
    .PBC_block4_wrpr4{
        padding: 40px 0;
    }
    .PBC_block4_wrpr4 .PBC_B4_wrpr1_Inner2Box h6{
        display: block;
        font-size: 25px;
        font-weight: 500;
        color: #000;
        line-height: 33px;
        margin-right: 30px;
        max-width: 500px;
    }
    .PBC_block4_wrpr4 .PBC_B4_wrpr1_Inner2Box h6 span{
        display: block;
        position: relative;
        padding-left: 30px;
        width: fit-content;
        font-size: 21px;
        color: #353a42;
    }
    .PBC_block4_wrpr4 .PBC_B4_wrpr1_Inner2Box h6 span::after{
        content: '';
        position: absolute;
        background: linear-gradient(0deg, rgba(4,53,114,1) 0%, rgba(6,201,243,1) 100%);
        border: 1px solid #fff;
        border-radius: 50%;
        height: 17px;
        width: 17px;
        left: 6px;
        top: 6px;
    }
    .PBC_B4_wrpr1_Inner2Boxflex{
        display: flex;
        flex-wrap: wrap;
    }

    /* -------------- block5 ------------ */
    .PBC_block5{
        padding: 40px 0;
    }
    .PBC_block5 h1{
        font-size: 40px;
        font-weight: 900;
        background: linear-gradient(0deg, rgba(165,168,174,1) 0%, rgba(255,255,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        line-height: 47px;
        text-transform: uppercase;
    }
    .PBC_block5 h2{
        font-size: 35px;
        font-weight: 700;
        line-height: 34px;
        color: #d2ff00;
        margin-top: 20px;
    }
    .PBC_block5_wrpr{
        width: 40%;
    }
    .PBC_block5_wrpr p{
        font-size: 26px;
        font-weight: 500;
        line-height: 28px;
        color: #c5d0e0;
        margin-top: 20px;
        position: relative;
        padding-left: 30px;
    }
    .PBC_block5_wrprInner{
        background: linear-gradient(0deg, rgba(209,213,218,1) 0%, rgba(255,255,255,1) 100%);
        border-radius: 10px;
        padding: 10px 15px;
        border: 2px solid #fff;
        box-shadow: 0 0 8px 1px #11697f59;
        margin-top: 15px;
    }
    .PBC_block5_wrprInner h3{
        font-size: 22px;
        font-weight: 700;
        line-height: 34px;
        color: #000;
        position: relative;
        padding-left: 30px;
        display: inline-block;
        
    }
    .PBC_block5_wrprInner h3::after{
        content: '';
        position: absolute;
        background: linear-gradient(0deg, rgba(183,24,25,1) 0%, rgba(241,165,91,1) 100%);
        border: 1px solid #fff;
        border-radius: 50%;
        height: 17px;
        width: 17px;
        left: 6px;
        top: 6px;
    }

    .PBC_block5_wrprInner h3 span{
        padding-left: 35px;
        position: relative;
        font-size: 21px;
        font-weight: 500;
    }

    .PBC_block5_wrprInner h3 span::after{
        content: '';
        position: absolute;
        background: #2261c7;
        border-radius: 50%;
        height: 11px;
        width: 11px;
        left: 15px;
        top: 6px;
    }

    .PBC_block5{
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block5_BGimage2.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block5_BGimage1.webp);
        background-repeat: no-repeat;
        background-size: 1051px , cover;
        background-position: bottom -45px right, center;
    }





@media screen and (max-width: 1799px) {
    .common_width{
        width: 94%;
    }
}




















