    .demo_img img{display: block;width: 100%;}
    .demo_1img img{display: block;width: 100%;}
    .demo_1img{margin-top: -282px;}
    .common_width{
        width: 1677px;
        margin: 0 auto;
    }
    .PBC_banner{
        background:url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBCBanner_doctors.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_Banner_ambulance.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_banner_BGimage.webp);
        background-repeat: no-repeat;
        background-size: 683px, 768px, cover;
        background-position:bottom -72px right 421px , right bottom -65px, top center;
        margin-top: -277px;
        padding-top: 277px;
        padding-bottom: 80px;
    }
    .PBC_banner_wrpr{
        width: 70%;
    }
    .PBC_bannerTop{
        position: relative;
        padding-left: 185px;
        margin-bottom: 45px;
    }
    .PBC_bannerTop h1{
        position: relative;
        font-size: 79px;
        font-weight: 800;
        background: linear-gradient(0deg, rgba(255,255,255,1) 35%, rgba(208,207,218,1) 50%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0px 0px 5px #221f6b63) drop-shadow(0px 0px 3px #221f6b63) drop-shadow(0px 0px 2px #221f6b63);
        -webkit-text-stroke: 2px #f2f4f8;
        display: inline;
        margin-bottom: 30px;
        text-transform: uppercase;
        line-height: 73px;
    }
    .PBC_bannerTop::before {
        position: absolute;
        content: '';
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/docGlobe.png);
        background-size: 100% 100%;
        width: 190px;
        height: 149px;
        top: 50%;
        left: -20px;
        transform: translateY(-43%);
    }
    .PBC_bannerBottom{
        position: relative;
        width: 72%;
    }
    .PBC_bannerBottom p{
        padding: 18px 20px;
        background:url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_bannerBottom_BGimage.webp), linear-gradient(0deg, rgba(255,124,28,1) 0%, rgba(255,178,58,1) 100%);
        background-repeat: no-repeat;
        background-size: contain , 100%;
        background-position: right center, center;
        width: 100%;
        padding-right: 120px;
        border-radius: 15px;
        border: 2px solid #fff;
        position: relative;
        z-index: 1;
        font-size: 38px;
        font-weight: 600;
        color: #000000;
        text-transform: capitalize;
        line-height: 41px;
        text-shadow: 0 1px 1px #ffea03;
    }
    .PBC_bannerBottom img{
        position: absolute;
        right: -170px;
        top: 30%;
        transform: translateY(-50%);
        z-index: 2;
    }
    .PBC_bannerBottom::after{
        background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_bannerBottom_shadow.webp);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top center;
        position: absolute;
        content: '';
        width: 100%;
        height: 65px;
        left: 52%;
        bottom: -28px;
        transform: translateX(-50%);
    }
    /* -------------- block1 ------------ */
    .PBC_block1_wrpr{
        width: 61%;
        margin: 0 0 0 auto;
    }
    .PBC_block1{
        background:url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block1_BGimageDoc.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_block1_wrprBGimage.webp);
        background-repeat: no-repeat;
        background-size: contain , cover;
        background-position: left -7px center, center;
        padding: 40px 0; 
        border-top: 1px solid #31ffe9;
    }
    .PBC_block1_wrpr h1,
    .PBC_block3 h1{
        font-size: 50px;
        font-weight: 900;
        background: linear-gradient(0deg, rgba(165,168,174,1) 0%, rgba(255,255,255,1) 100%);        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        line-height: 44px;
        text-transform: uppercase;
    }
    .PBC_block1_wrpr p{
        font-size: 25px;
        font-weight: 500;
        color: #c5d0e0;
        line-height: 30px;
        margin-top: 15px;
    }
    /* -------------- block2 ------------ */
    .PBC_block2{
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block2BG_img.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top -70px center;
        padding:50px 0;
    }
    .PBC_block2_wrpr{
        border: 1px solid #959fa4;
        border-radius: 10px;
        background-color: #fff;
        padding: 20px;
    }
    .PBC_block2_wrpr h1,
    .PBC_B4_wrpr1_Inner1 h1,
    .PBC_block4_wrpr4 h1,
    .PBC_block7 h1,
    .PBC_block9 h1,
    .PBC_block10 h1,
    .PBC_block11 h1{
        font-size: 50px;
        font-weight: 900;
        background: linear-gradient(0deg, #021d33 0%, #4b6b70 100%);        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        line-height: 44px;
        text-transform: uppercase;
    }
    .PBC_block2_wrpr p ,
    .PBC_B4_wrpr1_Inner1 p,
    .PBC_block4_wrpr4 p{
        font-size: 25px;
        font-weight: 500;
        color: #353a42;
        line-height: 30px;
        margin-top: 15px;
    }
    .PBC_boxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .PBC_InnerBox{
        padding: 20px;
        background: linear-gradient(0deg, rgba(80,223,249,1) 0%, rgba(194,247,255,1) 100%);
        border: 1px solid #20c0ee;
        border-radius: 10px;
        width: calc(33.33% - 6px);
        margin-right: 9px;
        margin-top: 9px;
    }
    .PBC_InnerBox h2{
        font-size: 29px;
        font-weight: 700;
        color: #001e42;
        line-height: 32px;
    }

    .PBC_InnerBox:nth-child(3),
    .PBC_InnerBox:nth-child(6){
        margin-right: 0;
    }
    .PBC_InnerBox li{
        font-size: 21px;
        font-weight:500;
        color: #071f40;
        line-height: 27px;
        margin-top: 10px;
        position: relative;
        padding-left: 30px;
        display: inline-block;
    }
    .PBC_InnerBox ul{
        column-count: 2;
    }
    .windowBulletOrange li::after{
        content: '';
        position: absolute;
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Orange_window_Bullate.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 19px;
        width: 19px;
        left: 0px;
        top: 4px;
    }
    .PBC_InnerBox:nth-child(3) ul,
    .PBC_InnerBox:nth-child(6) ul{
        column-count: unset;
    }
    .PBC_InnerBox:nth-child(3) ul li,
    .PBC_InnerBox:nth-child(6) ul li{
        display: block;
    }

/* -------------- block3 ------------ */
    .PBC_block3{
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block3_BGimage2.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block3_BGimage1.webp);
        background-repeat: no-repeat;
        background-size: contain , cover;
        background-position: bottom  right , left center;
        padding: 35px 0;
    }
    .PBC_block3_wrpr{
        width: 50%;
    }
    .PBC_block3 h1{
        line-height: 50px;
    }
    .PBC_block3 p{
        font-size: 26px;
        font-weight:500;
        color: #c5d0e0;
        line-height: 30px;
        position: relative;
        padding-left: 30px;
        margin-top: 10px;
    }
    .PBC_B3_inner{
        background: linear-gradient(0deg, rgba(181,189,196,1) 0%, rgba(255,255,255,1) 100%);
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        margin-top: 10px;
    }
    .PBC_B3_inner h3{
        font-size: 22px;
        font-weight:700;
        color: #000;
        line-height: 34px;
        margin-right: 40px;
        padding-left: 30px;
        width: fit-content;
        position: relative;
    }
    .PBC_block3 h2{
        font-size: 26px;
        font-weight:700;
        color: #1edbfc;
        line-height: 34px;
        margin-top: 10px;
    }
    .PBC_B3_inner h3::after{
        content: '';
        position: absolute;
        background: linear-gradient(0deg, rgba(183,24,25,1) 0%, rgba(241,165,91,1) 100%);
        border: 1px solid #fff;
        border-radius: 50%;
        height: 17px;
        width: 17px;
        left: 0px;
        top: 7px;
    }
    .PBC_block3 p::after,
    .PBC_block5_wrpr p::after{
        content: '';
        position: absolute;
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/SkyBlue_window_Bullate.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 19px;
        width: 19px;
        left: 0px;
        top: 4px;
    }


    /* -------------- block3 ------------ */

    .PBC_block4{
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block4_full_BGimage.webp);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom center;
    }
    .PBC_block4_wrpr1{
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block4_1BGimage.webp);
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: top -22px left;
        padding: 40px 0;
    }
    .PBC_B4_wrpr1_Inner1{
        width: 68%;
        margin: 0 0 0 auto;
        
    }
    .PBC_B4_wrpr1_Inner2,
    .PBC_block6_wrprBlue{
        padding: 20px;
        border: 3px solid #0e8fb2;
        background: linear-gradient(0deg, rgba(19,167,210,1) 0%, rgba(104,228,250,1) 100%);
        border-radius: 15px;
        margin-top: 30px;
    }
    .PBC_B4_wrpr1_Inner2 h2{
        font-size: 35px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 34px;
        background: linear-gradient(0deg, rgba(1,11,36,1) 0%, rgba(16,81,118,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        padding-right: 10px;
    }
    .PBC_B4_wrpr1_Inner2Box,
    .PBC_block6_wrprWhite{
        background: linear-gradient(0deg, rgba(209,213,218,1) 0%, rgba(255,255,255,1) 100%);
        border-radius: 15px;
        padding: 20px;
        border: 2px solid #fff;
        box-shadow: 0 0 8px 1px #11697f59;
        margin-top: 10px;
    }
    .PBC_B4_wrpr1_Inner2Box h3{
        font-size: 35px;
        font-weight: 700;
        line-height: 34px;
        color: #000;
        margin-bottom: 10px;
    }
    .PBC_B4_wrpr1_Inner2Flex{
        display: flex;
        justify-content: space-between;
    }
    .PBC_B4_wrpr1_Inner2mini{
        width: 33%;
    }
    .PBC_B4_wrpr1_Inner2mini p{
        font-size: 22px;
        font-weight: 500;
        color: #1d2128;
        line-height: 30px;
        padding-left: 30px;
        position: relative;
    }
    .PBC_B4_wrpr1_Inner2mini h4{
        margin-bottom: 10px;
        font-size: 29px;
        font-weight: 700;
        color: #0e1a52;
        line-height: 29px;
    }
    .PBC_B4_wrpr1_Inner2mini p::after,
    .PBC_B4_wrpr2_InnerBoxs p::after{
        content: '';
        position: absolute;
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Orange_window_Bullate.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 19px;
        width: 19px;
        left: 0px;
        top: 4px;
    }
    .PBC_B4_wrpr1_Inner2 h5{
        font-size: 35px;
        font-weight: 700;
        line-height: 34px;
        color: #fff;
        text-shadow: 0 0 5px #002b37c2;
        margin-top: 20px;
    }
    .PBC_block4_wrpr2 h1,
    .PBC_block6 h1,
    .PBC_block7_innerBlock h2{
        font-size: 40px;
        font-weight: 900;
        background: linear-gradient(0deg, #021d33 0%, #4b6b70 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        line-height: 46px;
        text-transform: uppercase;
    }
    .PBC_block4_wrpr2 h2{
        font-size: 35px;
        font-weight: 700;
        line-height: 34px;
        color: #0a81a0;
        margin-top: 15px;
    }
    .PBC_B4_wrpr2_Inner1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .PBC_B4_wrpr2_InnerBoxs{
        width: 33%;
        margin-top: 10px;
    }
    .PBC_B4_wrpr2_InnerBoxs h3 span{
        font-size: 25px;
        font-weight: 700;
        background: linear-gradient(0deg, rgba(165,168,174,1) 0%, rgba(255,255,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
    }
    .PBC_B4_wrpr2_InnerBoxs h3 {
        padding: 15px;
        background: linear-gradient(0deg, rgba(0,0,1,1) 0%, rgba(75,78,84,1) 100%);
        border-radius: 3px;
        margin-bottom: 15px;
    }
    .PBC_B4_wrpr2_InnerBoxs p{
        position: relative;
        padding-left: 30px;
        font-size: 22px;
        color: #353a42;
        font-weight: 500;
        line-height: 34px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .PBC_B4_wrpr2_InnerBoxs p span{
        padding-left: 30px;
        position: relative;
        white-space: nowrap;
    }
    .PBC_B4_wrpr2_InnerBoxs p span::after{
        content: '';
        position: absolute;
        background: linear-gradient(0deg, rgba(4,53,114,1) 0%, rgba(6,201,243,1) 100%);
        border: 1px solid #fff;
        border-radius: 50%;
        height: 17px;
        width: 17px;
        left: 6px;
        top: 3px;
    }
    .PBC_block4_wrpr3{
        display: flex;
        justify-content: space-between;
    }
    .PBC_block4_wrpr3_Inner{
        width: 49%;
    }
    .PBC_block4_wrpr3_Inner h1,
    .PBC_block10_SubWrpr h6,
    .PBC_B11_InnerBlock h3{
        font-size: 29px;
        font-weight: 700;
        background: linear-gradient(0deg, rgba(165,168,174,1) 0%, rgba(255,255,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        line-height: 33px;
    }
    .PBC_block4_wrpr3_Inner p,
    .PBC_B10_InnerBlockList h5,
    .PBC_B11_InnerBlock h6{
        font-size: 26px;
        font-weight: 500;
        color: #0fffff;
        line-height: 34px;
        position: relative;
        padding-left: 30px;
        margin-top: 10px;
    }
    .PBC_block4_wrpr3_Inner p::after,
    .PBC_B10_InnerBlockList h5::after,
    .PBC_B11_InnerBlock h6::after{
        content: '';
        position: absolute;
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/LightGreen_window_Bullate.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 19px;
        width: 19px;
        left: 0px;
        top: 7px;
    }
    .PBC_block4_wrpr3{
        padding: 30px 40px;
        margin-top: 20px;
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_block4_wrpr3_BGimage.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        border: 2px solid #000;
    }
    .PBC_block4_wrpr4{
        padding: 40px 0;
    }
    .PBC_block4_wrpr4 .PBC_B4_wrpr1_Inner2Box h6{
        display: block;
        font-size: 25px;
        font-weight: 500;
        color: #000;
        line-height: 33px;
        margin-right: 30px;
        max-width: 500px;
    }
    .PBC_block4_wrpr4 .PBC_B4_wrpr1_Inner2Box h6 span{
        display: block;
        position: relative;
        padding-left: 30px;
        width: fit-content;
        font-size: 21px;
        color: #353a42;
    }
    .PBC_block4_wrpr4 .PBC_B4_wrpr1_Inner2Box h6 span::after{
        content: '';
        position: absolute;
        background: linear-gradient(0deg, rgba(4,53,114,1) 0%, rgba(6,201,243,1) 100%);
        border: 1px solid #fff;
        border-radius: 50%;
        height: 17px;
        width: 17px;
        left: 6px;
        top: 6px;
    }
    .PBC_B4_wrpr1_Inner2Boxflex{
        display: flex;
        flex-wrap: wrap;
    }

    /* -------------- block5 ------------ */
    .PBC_block5{
        padding: 40px 0;
    }
    .PBC_block5 h1,
    .PBC_block8 h1{
        font-size: 40px;
        font-weight: 900;
        background: linear-gradient(0deg, rgba(165,168,174,1) 0%, rgba(255,255,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        line-height: 47px;
        text-transform: uppercase;
    }
    .PBC_block5 h2,
    .PBC_block8 h2{
        font-size: 35px;
        font-weight: 700;
        line-height: 34px;
        color: #d2ff00;
        margin-top: 20px;
    }
    .PBC_block5_wrpr{
        width: 40%;
    }
    .PBC_block5_wrpr p{
        font-size: 26px;
        font-weight: 500;
        line-height: 28px;
        color: #c5d0e0;
        margin-top: 20px;
        position: relative;
        padding-left: 30px;
    }
    .PBC_block5_wrprInner{
        background: linear-gradient(0deg, rgba(209,213,218,1) 0%, rgba(255,255,255,1) 100%);
        border-radius: 10px;
        padding: 10px 15px;
        border: 2px solid #fff;
        box-shadow: 0 0 8px 1px #11697f59;
        margin-top: 15px;
    }
    .PBC_block5_wrprInner h3{
        font-size: 22px;
        font-weight: 700;
        line-height: 34px;
        color: #000;
        position: relative;
        padding-left: 30px;
        display: inline-block;
        
    }
    .PBC_block5_wrprInner h3::after{
        content: '';
        position: absolute;
        background: linear-gradient(0deg, rgba(183,24,25,1) 0%, rgba(241,165,91,1) 100%);
        border: 1px solid #fff;
        border-radius: 50%;
        height: 17px;
        width: 17px;
        left: 6px;
        top: 6px;
    }

    .PBC_block5_wrprInner h3 span{
        padding-left: 35px;
        position: relative;
        font-size: 21px;
        font-weight: 500;
    }

    .PBC_block5_wrprInner h3 span::after{
        content: '';
        position: absolute;
        background: #2261c7;
        border-radius: 50%;
        height: 11px;
        width: 11px;
        left: 15px;
        top: 6px;
    }

    .PBC_block5{
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block5_BGimage2.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block5_BGimage1.webp);
        background-repeat: no-repeat;
        background-size: 1051px , cover;
        background-position: bottom -45px right, center;
    }
    /* =============== block6 =============== */
    .PBC_block6 h2,
    .PBC_B7_innerBlock_SubWrpr h3,
    .PBC_block10 h2{
        font-size: 35px;
        font-weight: 700;
        color: #0a81a0;
        line-height: 34px;
    }
    .PBC_block6_wrprBlue h3{
        font-size: 35px;
        font-weight: 700;
        line-height: 39px;
        background: linear-gradient(0deg, rgba(1,11,36,1) 0%, rgba(16,81,118,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
    }
    .PBC_block6_Flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .PBC_block6_wrprWhite p{
        font-size: 26px;
        font-weight: 500;
        line-height: 29px;
        color: #353a42;
        padding-left: 30px;
        display: inline-block;
        position: relative;
        max-width: 279px;
    }
    .PBC_block6_wrprBlue{
        padding: 6px;
        padding-left: 26px;
    }
    .PBC_block6_wrprWhite{
        margin-top: 0;
        min-width: 60%;
        padding: 7px;
        display: flex;
        border-radius: 7px;
    }
    .PBC_block6_wrprWhite p::after{
        content: '';
        position: absolute;
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Orange_window_Bullate.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 19px;
        width: 19px;
        left: 7px;
        top: 4px;
    }
    .PBC_block6{
        padding: 50px 0;
    }
    .PBC_block6_wrprWhite p span{
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        color: #000;
        padding-left: 30px;
        position: relative;
        margin-top: 5px;
    }
    .PBC_block6_wrprWhite p span::after,
    .BlackBullet h5::after{
        content: '';
        position: absolute;
        background: linear-gradient(0deg, rgba(1,11,36,1) 0%, rgba(16,81,118,1) 100%);
        border-radius: 50%;
        height: 11px;
        width: 11px;
        left: 11px;
        top: 10px;
    }
    .PBC_B6_innerBlock_SubWrpr{
        width: 60%;
        margin: 0 0 0 auto;
    }
    .PBC_block6_innerBlock{
        padding: 40px 0;
        position: relative;
    }
    .PBC_B6_innerBlock_SubWrpr h4{
        font-size: 35px;
        font-weight: 700;
        line-height: 34px;
        color: #353a42;
        margin-top: 20px;
    }
    .PBC_B6_innerBlock_SubWrpr p,
    .PBC_block7 p{
        font-size: 26px;
        font-weight: 700;
        line-height: 34px;
        color: #353a42;
        margin-top: 5px;
        position: relative;
        padding-left: 30px;
    }
    .PBC_B6_innerBlock_SubWrpr p::after,
    .PBC_block7 p::after,
    .PBC_B6_Miniwrpr p::after{
        content: '';
        position: absolute;
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Orange_window_Bullate.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 19px;
        width: 19px;
        left: 0px;
        top: 7px;
    }
    .BlackBullet h5{
        font-size: 21px;
        font-weight: 500;
        line-height: 27px;
        color: #353a42;
        margin-top: 5px;
        white-space: nowrap;
        padding-left: 30px;
        position: relative;
        margin-right: 10px;
    }
    .BlackBullet{
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    .BlackBullet h5::after{
        top: 8px;
    }
    .PBC_block6_innerBlock img{
        position: absolute;
        top: 50%;
        left: -76px;
        transform: translateY(-50%);
        z-index: -1;
    }
    .PBC_block6_innerBlock2{
        padding:  25px;
        margin-top: 0;
    }
    .PBC_block6_innerBlock2 p{
        max-width: unset;
    }
    .PBC_block6_innerBlock2 .PBC_block6_wrprWhite{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 16px;
    }

    /* ============= block7 ============== */
    .PBC_block7{
        padding-bottom: 40px;
    }
    .PBC_block7 h4,
    .PBC_block9_inner p,
    .PBC_block10 p,
    .PBC_block11 p{
        font-size: 26px;
        font-weight: 500;
        color: #353a42;
        line-height: 32px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .PBC_B7_innerBlock_SubWrpr{
        width: 68%;
        margin-top: 20px;
    }
    .PBC_B7_innerBlock_Flex{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    .PBC_B7_MiniBlock{
        width: calc(50% - 15px);
    }
    .PBC_B7_innerBlock_SubWrpr .BlackBullet {
        display: block;
    }
    .BlackBullet h6{
        font-size: 21px;
        font-weight: 500;
        color: #353a42;
        line-height: 27px;
        padding-left: 30px;
        width: fit-content;
    }
    .PBC_B7_innerBlock_SubWrpr h3{
        margin-bottom: 10px;
    }
    .PBC_block7_innerBlock{
        position: relative;
    }
    .PBC_block7_innerBlock img{
        position: absolute;
        right: -120px;
        top: 50%;
        transform: translateY(-57%);
        z-index: -1;
    }
    .PBC_block7_wrprBlue p{
        max-width: unset;
        margin-right: 15px;
    }
    .PBC_block7_wrprBlue .PBC_block6_wrprWhite{
        flex-wrap: wrap;
        padding: 10px 20px;
    }
    .PBC_block7_wrprBlue h6{
        font-size: 35px;
        font-weight: 700;
        line-height: 39px;
        background: linear-gradient(0deg, rgba(1, 11, 36, 1) 0%, rgba(16, 81, 118, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin : 10px 0;
    }
    .PBC_block7_wrprBlue{
        padding: 24px;
    }


    /* ================== block8 ============= */

    .PBC_block8{
        padding: 40px 0;
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_block8_BGimage.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    .PBC_block8_wrprBlue .BlackBullet{
        align-items: center;
        flex-direction: row;
    }
    .PBC_block8_wrprBlue h5{
        margin-left: 18px;
    }
    .PBC_block8_wrprBlue{
        margin-top: 15px;
    }

    /* ================== block9 ============= */
    .PBC_block9{
        padding: 40px 0;
    }
    .PBC_block9 .PBC_block6_wrprWhite{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .PBC_block9 .PBC_block6_wrprWhite p{
        margin: 5px 0;
    }
    .PBC_block9_inner{
        padding-top: 40px;
    }
    .PBC_block9_wrprBlue h5{
        font-size: 35px;
        font-weight: 700;
        color: #1d2128;
        line-height: 40px;
        margin-top: 0;
    }
    .PBC_block9_wrprBlue h5::after{
        top: 13px;
        background: linear-gradient(0deg, rgba(4, 53, 114, 1) 0%, rgba(6, 201, 243, 1) 100%);
        border: 1px solid #fff;
        width: 19px;
        height: 19px;
        left: 0;
        top: 4px;
    }
    .PBC_block9_wrprBlue{
        padding: 20px;
        margin-bottom: 40px;
    }
    .PBC_block9 .PBC_block6_wrprWhite:last-child{
        margin-bottom: 0;
    }
    .PBC_B6_Miniwrpr {
        display: flex;
        align-items: center;
    }
    .PBC_B6_Miniwrpr p{
        padding-left: 30px;
        position: relative;
        margin-right: 20px;
    }
    .PBC_B6_Miniwrpr2{
        display: flex;
        justify-content: space-between;
    }
    .PBC_B6_Miniwrpr2 .PBC_B4_wrpr2_InnerBoxs{
        width: calc(50% - 15px);
    }
    .PBC_B6_Miniwrpr2 p::after{
        background: linear-gradient(0deg, rgba(4, 53, 114, 1) 0%, rgba(6, 201, 243, 1) 100%);
        border: 1px solid #fff;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        top: 9px;
    }
    /* ======== block 10 ================ */
    .PBC_block10{
        padding-bottom: 40px;
    }
    .PBC_block10 .PBC_block6_wrprWhite{
        margin-top: 10px;
    }

    .PBC_block10 h2{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .PBC_block10_InnerBlockWrpr{
        width: 68%;
    }
    .PBC_B10_InnerBlockHeader{
        background: linear-gradient(0deg, rgba(209, 213, 218, 1) 0%, rgba(255, 255, 255, 1) 100%);
        border-radius: 10px;
        padding: 10px 15px;
        border: 2px solid #fff;
        box-shadow: 0 0 8px 1px #11697f59;
    }
    .PBC_B10_InnerBlockHeader h4{
        font-size: 35px;
        font-weight: 700;
        line-height: 34px;
        background: linear-gradient(0deg, rgba(1,11,36,1) 0%, rgba(16,81,118,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
    }
    .PBC_block10_SubWrpr{
        background:url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_block10_SubWrpr_BGimage.webp) , url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_block10_SubWrpr_BGimage2.webp);
        border-radius: 15px;
        border: 2px solid #000;
        background-repeat: no-repeat;
        background-size:744px, cover;
        background-position: right top , center;
        padding: 20px;
    }
    .PBC_B10_InnerBlockList{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .PBC_B10_InnerBlockList h5{
        margin-right: 15px;
    }
    .PBC_B10_InnerBlockList:last-child{
        margin-bottom: 0;
    }
    .PBC_B10_InnerBlockHeader{
        margin-bottom: 20px;
    }
    .PBC_block10 .PBC_block9_wrprBlue span{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .PBC_B10_wrpr_Inner1 .PBC_B4_wrpr2_InnerBoxs{
        width: calc(50% - 15px);
    }
    .PBC_block10_wrprBlue{
        margin-top: 25px;
        margin-bottom: 15px;
    }

    /* ================ block11 =============== */
    .PBC_block11_wrprBlue {
        padding: 20px;
    }
    .PBC_block11_wrprBlue .PBC_block6_wrprWhite{
        display: block;
        padding: 15px;
    }
    .PBC_block11_wrprBlue h6{
        font-size: 35px ;
        font-weight: 700;
        color: #000;
        line-height: 34px;
        margin: 20px 0;
    } 
    .PBC_block11_wrprBlue .BlackBullet h5::after{
        top: 6px ;
        background: linear-gradient(0deg, rgba(4, 53, 114, 1) 0%, rgba(6, 201, 243, 1) 100%);
        border: 1px solid #fff;
        width: 19px;
        height: 19px;
        left: 0;
        top: 4px;
    }
    .PBC_block11_subWrpr{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .PBC_B11_InnerBlock{
        width: calc(50% - 15px);
        padding: 20px;
        border-radius: 15px;
    }
    .PBC_B11_SubInnerBlock{
        display: flex;
        justify-content: space-between;
    }
    .PBC_B11_SubInnerBlock span{
        width: calc(50% - 5px);
    }
    .PBC_B11_Submini{
        display: block;
        width: 64%;
    }

    .PBC_B11_InnerBlock:first-child{
        background:url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_B11_InnerBlock1BGimage1.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_B11_InnerBlock1BGimage2.webp);
        background-repeat: no-repeat;
        background-size: contain ,cover;
        background-position: top right, center;
    }
    .PBC_B11_InnerBlock:last-child{
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_B11_InnerBlock2BGimage1.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }














@media screen and (max-width: 1850px){
    .PBC_block1{
        background-position: left -72px center, center;
    }
    .PBC_block4_wrpr1{
        background-size: 716px ;
    }
}
@media screen and (max-width: 1799px) {
    .PBC_B4_wrpr2_InnerBoxs h3 span {
        font-size: 21px;
    }
    .PBC_block3{
        background-position: bottom right -108px, left center;
    }
    .PBC_block2{
        background-position: top 0 center;
    }
    .PBC_InnerBox h2{
        font-size: 25px;
        line-height: 29px;
    }
    .PBC_InnerBox li {
        font-size: 20px;
    }
    .common_width{
        width: 93%;
    }
    .PBC_banner {
        background-position: bottom -72px right 350px, right -66px bottom -65px, top center;
    }
    .PBC_bannerTop h1{
        font-size: 75px;
    }
    .PBC_block4_wrpr4 .PBC_B4_wrpr1_Inner2Box h6{
        max-width: unset;
    }
    .PBC_block4_wrpr4 .PBC_B4_wrpr1_Inner2Box h6 span{
        display: initial;
    }
    .PBC_block4_wrpr4 .PBC_B4_wrpr1_Inner2Box h6 span::after{
        top: 2px;
    }
}

@media screen and (max-width: 1699px){

    .PBC_block6_Flex{
        align-items: flex-start;
        flex-direction: column;
        padding: 15px;
    }
    .PBC_block6_wrprWhite{
        width: 100%;
        padding: 15px;
        margin-top: 15px;
    }
    .PBC_block6_wrprWhite p{
        max-width: unset;
        margin-right: 15px;
    }
    .PBC_block6_wrprWhite p  span{
        display: block;
    }
    .PBC_block4_wrpr1{
        background-position: top 0 left -74px;
    }
    .PBC_block3{
        background-position: bottom right -427px, left center;
        background-size: 1242px, cover;
    }
    .PBC_InnerBox{
        width: calc(50% - 6px);
    }
    .PBC_InnerBox:nth-child(2),
    .PBC_InnerBox:nth-child(4){
        margin-right: 0;
    }
    .PBC_InnerBox:nth-child(3){
        margin-right: 9px;
    }
    .PBC_InnerBox li{
        display: block;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .PBC_InnerBox h2{
        margin-bottom: 5px;
    }
    .PBC_banner{
        background-position: bottom -72px right 292px, right -66px bottom -65px, top center;
    }
    .PBC_bannerTop h1{
        font-size: 70px;
    }
    .PBC_block1{
        background-position: left -176px center, center;
    }
    .PBC_block8 .PBC_block6_wrprWhite{
        margin-top: 0;
    }
}
@media screen and (max-width: 1599px){
    .PBC_block1_wrpr p,
    .PBC_block2_wrpr p, 
    .PBC_B4_wrpr1_Inner1 p, 
    .PBC_block4_wrpr4 p,
    .PBC_block7 h4, 
    .PBC_block9_inner p, 
    .PBC_block10 p, 
    .PBC_block11 p{
        font-size: 20px;
    }
    .PBC_block1_wrpr h1, 
    .PBC_block3 h1,
    .PBC_block2_wrpr h1, 
    .PBC_B4_wrpr1_Inner1 h1, 
    .PBC_block4_wrpr4 h1, 
    .PBC_block7 h1, 
    .PBC_block9 h1, 
    .PBC_block10 h1, 
    .PBC_block11 h1{
        font-size: 45px;
    }
    .PBC_block4_wrpr2 h1, 
    .PBC_block6 h1, 
    .PBC_block7_innerBlock h2,
    .PBC_block5 h1, 
    .PBC_block8 h1{
        font-size: 35px;
        line-height: 37px;
    }
    .PBC_B4_wrpr1_Inner2 h2,
    .PBC_block4_wrpr2 h2,
    .PBC_B4_wrpr1_Inner2Box h3,
    .PBC_block5 h2, 
    .PBC_block8 h2,
    .PBC_block6_wrprBlue h3,
    .PBC_B6_innerBlock_SubWrpr h4 ,
    .PBC_block6 h2, 
    .PBC_B7_innerBlock_SubWrpr h3, 
    .PBC_block10 h2,
    .PBC_block7_wrprBlue h6,
    .PBC_block9 .BlackBullet h5,
    .PBC_block10 .BlackBullet h5,
    .PBC_B10_InnerBlockHeader h4,
    .PBC_block11_wrprBlue h6{
        font-size: 28px;
        line-height: 32px;
    }
    .PBC_B4_wrpr1_Inner2 h2 br{
        display: none;
    }
    .PBC_B4_wrpr1_Inner2mini p,
    .PBC_B4_wrpr2_InnerBoxs p,
    .PBC_block4_wrpr3_Inner p, 
    .PBC_B10_InnerBlockList h5, 
    .PBC_B11_InnerBlock h6,
    .PBC_block5_wrpr p,
    .PBC_block5_wrprInner h3,
    .PBC_block6_wrprWhite p,
    .PBC_B6_innerBlock_SubWrpr p, 
    .PBC_block7 p,
    .BlackBullet h5{
        font-size: 20px;
        line-height: 28px;
    }
    .PBC_block4_wrpr3_Inner h1, 
    .PBC_block10_SubWrpr h6, 
    .PBC_B11_InnerBlock h3{
        font-size: 25px;
        line-height: 28px;
    }
    .PBC_block4_wrpr3_Inner p::after, 
    .PBC_B10_InnerBlockList h5::after, 
    .PBC_B11_InnerBlock h6::after,
    .PBC_block5_wrprInner h3::after{
        top: 4px;
    }
    .PBC_block6_wrprWhite p::after{
        left: 0;
    }
    .PBC_banner{
        background-position: bottom -72px right 236px, right -165px bottom -65px, top center;    
    }
    .PBC_block5{
        background-position: bottom -76px right -168px, center;
    }
    .PBC_block5_wrpr{
        width: 50%;
    }
    .PBC_bannerTop h1{
        font-size: 65px;
    }
    .PBC_block7_innerBlock img{
        right: -240px;
        transform: translateY(-55%);
    }
    .PBC_banner_wrpr {
        width: 65%;
    }
    .PBC_block4_wrpr3{
        flex-direction: column;
    }
    .PBC_block4_wrpr3_Inner {
        width: 100%;
        margin-top: 20px;
    }
    .PBC_block4_wrpr3_Inner:first-child{
        margin-top: 0;
    }

}
@media screen and (max-width: 1499px){
    .BlackBullet{
        flex-wrap: wrap;
    }
    .PBC_B6_innerBlock_SubWrpr{
        width: 50%;
    }
    .PBC_B4_wrpr2_InnerBoxs{
        width: 49.5%;
    }
    .PBC_block4_wrpr1{
        background-size: 651px;
    }
    .PBC_bannerBottom img {
        right: -124px;
        top: 45%;
        width: 200px;
    }
    .PBC_bannerTop h1{
        font-size: 60px;
    }
    .PBC_bannerBottom p{
        font-size: 30px;
        line-height: 36px;
    }
    .PBC_banner{
        background-size: 608px, 672px, cover;
        background-position: bottom -8px right 235px, right -100px bottom -28px, top center;
    }
}
@media screen and (max-width: 1440px){
    .PBC_block3 p {
        font-size: 20px;
    }
    .PBC_B3_inner h3 {
        font-size: 19px;
    }
    .PBC_block3 h2 {
        font-size: 20px;
        line-height: 25px;
    }
    .PBC_block3_wrpr {
        width: 53%;
    }
    .PBC_block1 {
        background-position: left -295px center, center;
    }
    .PBC_block3 {
        background-position: bottom right -476px, left center;
        background-size: 1170px, cover;
    }
}
@media screen and (max-width: 1399px){
    .PBC_B11_InnerBlock:first-child{
        background-size: 749px, cover;
    }
    .PBC_block10_SubWrpr {
        background-position: right -197px top, center;
        background-size: 813px, cover;
    }
    .PBC_block7_innerBlock img{
        right: -300px;
    }
    .PBC_block5{
        background-size: 827px, cover;
        background-position: bottom -29px right -181px, center;
    }
    .PBC_block5_wrpr{
        width: 60%;
    }
    .PBC_block4_wrpr1{
        background-size: 741px;
        background-position: top 0 left -162px;
    }
    .PBC_block1 {
        background-position: left -330px center, center;
    }
    .PBC_bannerTop h1{
        font-size: 53px;
        line-height: 60px;
    }
    .PBC_banner{
        background-size: 555px, 594px, cover;
        background-position: bottom -8px right 256px, right -45px bottom -28px, top center;
    }
    .PBC_bannerBottom p{
        font-size: 28px;
        line-height: 32px;
    }
    .PBC_bannerBottom img {
        right: -72px;
        top: 45%;
        width: 170px;
    }
}
@media screen and (max-width: 1299px){
    .PBC_block7_innerBlock img{
        right: -349px;
    }
    .PBC_block4_wrpr1{
        background-position: top 0 left -194px;
    }
    .PBC_block1 {
        background-position: left -365px center, center;
    }
    .PBC_bannerTop h1{
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 2px;
    }
    .PBC_banner{
        background-size: 525px, 574px, cover;
        background-position: bottom -8px right 266px, right -33px bottom -28px, top center;
    }
    .PBC_bannerBottom p{
        font-size: 25px;
        line-height: 26px;
    }
}
@media screen and (max-width: 1199px){
    .PBC_block11_subWrpr{
        flex-direction: column;
    }
    .PBC_B11_InnerBlock{
        width: 100%;
    }
    .PBC_B11_InnerBlock:first-child{
        margin-bottom: 15px;
    }
    .PBC_block10_SubWrpr{
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_block10_SubWrpr_BGimage2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .PBC_block10_InnerBlockWrpr{
        width: 100%;
    }
    .PBC_block7_innerBlock img{
        display: none;
    }
    .PBC_B7_innerBlock_SubWrpr {
        width: 100%;
    }
    .PBC_B6_innerBlock_SubWrpr{
        width: 100%;
        padding-bottom: 400px;
    }
    .PBC_block7 .PBC_block6_wrprWhite p{
        width: 47%;
    }
    .PBC_block6_wrprWhite{
        flex-wrap: wrap;
    }
    .PBC_block6_innerBlock img {
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        bottom: -59px;
        width: 710px;
    }
    .PBC_block5_wrpr{
        width: 100%;
    }
    .PBC_block5{
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/Block5_BGimage1.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .PBC_block4_wrpr1{
        background-position: top 0 center;
        background-size: 991px;
    }
    .PBC_B4_wrpr1_Inner1{
        width: 100%;
        padding-top: 600px;
    }    
    .PBC_block3_wrpr {
        width: 100%;
    }
    .PBC_block3{
        background-position: bottom right 127px, left center;
        background-size: 1024px, cover;
        padding-bottom: 400px;
    }
    .PBC_block1_wrpr{
        width: 100%;
    }
    .PBC_block1{
        padding-bottom: 500px;
        background-position: left -60px bottom -258px, center;
    }
    .PBC_banner_wrpr {
        width: 100%;
    }
    .PBC_banner{
        padding-top: 315px;
        padding-bottom: 450px;
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBCBanner_doctors.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris-business-consultants/PBC_banner_BGimage.webp);
        background-repeat: no-repeat;
        background-size: 896px, cover;
        background-position: bottom -262px right 91%, center;
    }
    .PBC_bannerBottom img{
        display: none;
    }
    .PBC_bannerBottom {
        width: 100%;
    }
    .PBC_bannerBottom::after{
        left: 50%;
        bottom: -15px;
    }
    .PBC_bannerTop h1{
        font-size: 50px;
        line-height: 60px;
    }
    .PBC_bannerBottom p {
        font-size: 37px;
        line-height: 53px;
    }
}













