
.service_demo_img img{display: block; max-width: 100%;}
.common_width {
    width: 1675px;
    margin: 0 auto;
}



.service_page_banner_main_width {
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris_service_page/polaris_banner_doctor_img.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris_service_page/polaris_banner_main_bg_img.webp);
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    background-position: bottom -60px right 135px, top right;
    /* padding: 255px 0 65px; */
    padding-bottom: 65px;
}
.service_bnr_left_cont {
    padding-right: 775px;
}
.service_bnr_left_cont h1 {
    position: relative;
    font-size: 85px;
    line-height: 90px;
    font-weight: 800;
    background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(239,239,243,1) 49%, rgba(209,208,219,1) 51%, rgba(255,255,255,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 5px #000000);
    -webkit-text-stroke: 1px #f2f4f8;
    display: block;
    padding-left: 185px;
    margin-bottom: 30px;
}
.service_bnr_left_cont h1::before {
    position: absolute;
    content: '';
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris_service_page/polaris_banner_sec_round_img.webp);
    background-size: 100% 100%;
    width: 190px;
    height: 149px;
    top: -30px;
    left: -10px;
}
.service_bnr_left_cont p {
    font-size: 23px;
    line-height: 28px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 25px;
}
.box_sec_main_wrpr {
    display: flex;
}
.box_section {
    position: relative;
    width: 33%;
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris_service_page/polaris_banner_green_box_img.webp), linear-gradient(180deg, rgba(152,234,34,1) 0%, rgba(55,197,5,1) 100%);   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom right;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 20px; 
}
.box_section::after {
    position: absolute;
    content: '';
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris_service_page/polaris_banner_green_box_shadow_img.webp);
    background-size: 100% 100%;
    width: 295px;
    height: 71px;
    bottom: -75px;
    left: 0;
}
.box_section h2 {
    position: relative;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    padding-left: 0;
}
.box_section h2::before {
    position: absolute;
    content: '';
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris_service_page/polaris_banner_white_bar_img.webp);
    background-size: 100% 100%;
    width: 9px;
    height: 38px;
    top: 6px;
    left: 0;
}
.box_section.yellow_box {
    position: relative;
    width: 33%;
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris_service_page/polaris_banner_yellow_box_shadow_img.webp), linear-gradient(180deg, rgba(230,216,1,1) 0%, rgba(244,184,76,1) 100%);   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom right;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 20px; 
}
.box_section.skyblue_box {
    position: relative;
    width: 33%;
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris_service_page/polaris_banner_skyblue_box_shadow_img.webp), linear-gradient(180deg, rgba(0,234,255,1) 0%, rgba(1,144,211,1) 100%);   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom right;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 20px; 
}