.common_width{width: 1675px;margin: 0 auto;}
.polaris_demo_wrp img{display: block;width: 100%;}

.polaris_home_wrp{    background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_banner_img.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_home_banner_bg.webp);
    background-repeat: no-repeat;
    background-size: 33% auto,cover;
    background-position: right 1px bottom -420px,center;
    position: relative;
    padding-bottom: 65px;z-index: 999999;}
.polaris_home_sub_left_wrp h1{    position: relative;
    font-size: 85px;
    line-height: 90px;
    font-weight: 800;
    background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(239,239,243,1) 49%, rgba(209,208,219,1) 51%, rgba(255,255,255,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 5px #000000);
    -webkit-text-stroke: 1px #f2f4f8;
    display: block;
    padding-left: 185px;
    margin-bottom: 30px;}
    .polaris_home_sub_left_wrp h1::before{    position: absolute;
        content: '';
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris_service_page/polaris_banner_sec_round_img.webp);
        background-size: 100% 100%;
        width: 190px;
        height: 149px;
        top: 21px;
        left: -10px;}
.polaris_home_sub_left_wrp{    width: 65%;} 
.polaris_position_img{    display: block;
    position: absolute;
    right: 385px;
    bottom: 0;
    width: 494px;
    z-index: 99;}     
.polaris_home_sub_left1_wrp{background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_banner_white_img.webp);
background-repeat: no-repeat;background-position: center;background-size: 100% 100%;width: 75%;padding: 30px;border-radius: 20px;position: relative;    padding-bottom: 170px;} 
.polaris_home_sub_left1_wrp::after { position: absolute;
    content: '';
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/green_bfr_new_img.png);
    background-size: 170px;
    width: 169px;
    height: 177px;
    top: -69px;
    left: 805px;
    background-repeat: no-repeat;}
    .polaris_home_sub_left1_wrp h1{font-size: 48px;line-height: 54px;font-weight: 700;font-style: italic;text-transform: uppercase;color: #153243;margin-bottom: 20px;width: 70%;    margin-left: 85px;}
    .polaris_home_sub_left1_wrp h1 span{color: #feae00;}
    .polaris_home_sub_left1_mini1_wrp{background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/banner_yellow_bg.webp);
    background-repeat: no-repeat;background-position: center;background-size: 100% 100%;width: 70%;padding: 20px;position: absolute;left: 21px;
    bottom: 43px;}
    .polaris_home_sub_left1_mini1_wrp p{font-size: 27px;line-height: 33px;font-weight: 600;color: #000;margin-left: 50px;}


    /* ----------------------------------block1----------------------------------- */
    .polaris_blk1_main_wrp{background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block1_man_img.webp),
        url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block1_img.webp),
        url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_1st_blk_bg.webp);background-repeat: no-repeat;background-size: auto,auto,cover;
        background-position: left 280px bottom,left -100px bottom,center;padding: 40px 0;    position: relative;
        z-index: 999999;}
    .polaris_blk1_sub_wrp{padding-left: 42%;}   
    .polaris_blk1_sub_wrp h1{font-size: 50px;line-height: 56px;font-weight: 900;text-transform: uppercase;   background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(239,239,243,1) 49%, rgba(209,208,219,1) 51%, rgba(255,255,255,1) 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0px 0px 5px #000000);
        -webkit-text-stroke: 1px #f2f4f8;
        display: block;margin-bottom: 20px;} 
    .polaris_blk1_sub_wrp p{font-size: 26px;line-height: 32px;font-weight: 500;color: #c5d0e0;position: relative;padding-left: 20px;margin-bottom: 20px;border-left: 5px solid #17d3ff;}
    .polaris_home_button{font-size: 30px;line-height: 36px;font-weight: 700;color: #fff;width: fit-content;padding: 15px 30px;border-radius: 10px;border: 1px solid #95b1d7;
        text-shadow: 0 2px 10px rgba(0,0,0,.4);background: linear-gradient(180deg, rgba(17,145,209,1) 0%, rgba(18,87,164,1) 100%);text-transform: uppercase;cursor: pointer;font-family: "Roboto", sans-serif;}

        /* -------------------------------------------block2----------------------------------------------------- */

    .polaris_blk2_main_wrp{background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block2_bg.webp);
        background-repeat: no-repeat;background-position:center;background-size: cover;    padding-bottom: 40px;}    
    .polaris_blk2_main1_wrp{background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block2_lady_img.webp),
        url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block2_back_img.webp);
        background-repeat: no-repeat;    background-position: right 330px bottom -100px,right bottom;background-size: auto,auto;padding: 40px 0;}    
  .polaris_blk2_sub1_wrp{width: 55%;}
  .polaris_blk2_sub1_wrp h1{font-size: 50px;line-height: 56px;font-weight: 900;text-transform: uppercase;color: #07286d;margin-bottom: 25px;}
  .polaris_blk2_sub1_wrp h4{font-size: 26px;line-height: 32px;font-weight: 600;color: #313337;margin-left: 30px;position: relative;margin-bottom: 20px;}
  .polaris_blk2_sub1_wrp h4::after{    content: '';
    position: absolute;
    background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/red_bullet_point.png);
    background-repeat: no-repeat;
    width: 23px;
    height: 24px;
    left: -31px;
    top: 4px;}
  .polaris_blk2_sub1_wrp p{font-size: 20px;line-height: 26px;font-weight: 500;color: #313337;margin-left: 53px;margin-bottom: 20px;position: relative;}

  .polaris_blk2_sub1_wrp p::after{    content: '';
    position: absolute;
    background-image: url(https://all-frontend-assets.s3.amazonaws.com/beto_paredes_nest/join_us_rep/join_as_rep_blue_bullet_point.png);
    background-repeat: no-repeat;
    width: 23px;
    height: 24px;
    left: -31px;
    top: 0px;}
  .polaris_blk2_sub2_wrp{background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_home_block2_sec2_bg.webp);
    background-repeat: no-repeat;background-position: center;background-size: cover;padding: 25px 97px;border-radius: 15px;border: 2px solid #000;display: flex;justify-content: space-between;
    align-items: center;} 
  .polaris_blk2_sub2_left_wrp{width: 25%;}  
  .polaris_blk2_sub2_left_wrp img{display: block;width: 100%;}
  .polaris_blk2_sub2_right_wrp{width: 70%;}
  .polaris_blk2_sub2_right_wrp h1{font-size: 38px;line-height: 44px;font-weight: 900;color: #fff;text-transform: uppercase;margin-bottom: 20px;    text-shadow: 0 2px 10px rgba(0,0,0,.4);}
  .polaris_blk2_sub2_right_wrp h1 span{background: linear-gradient(180deg, rgba(255,246,0,1) 0%, rgba(216,255,0,1) 100%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
  .polaris_blk2_sub2_right_wrp p{font-size: 26px;line-height: 32px;font-weight: 600;color: #fff;    text-shadow: 0 2px 10px rgba(0,0,0,.4);}

  /* ----------------------------------------block3------------------------------------------------ */

  .polaris_blk3_main_wrp{background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block3_bg.webp);
    background-repeat: no-repeat;background-position: center;background-size: cover;padding: 40px 0;}
  .polaris_blk3_sub_wrp h1{font-size: 50px;line-height: 56px;font-weight: 900;text-transform: uppercase;text-align: center;color: #07286d;margin-bottom: 20px;} 
  .polaris_blk3_sub_wrp img{display: block;width: 100%;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;margin-bottom: 30px;} 
  .polaris_blk3_sub_sec_wrp{display: flex;flex-wrap: wrap;}
  .polaris_blk3_sub_sec_mini_wrp{width: 25%;padding: 20px;display: flex;justify-content: space-between;    align-items: center;}
  .polaris_blk3_logo_wrp{width: 30%;}
  .polaris_blk3_logo_sec_wrp{display: flex;justify-content: center;align-items: center;background-color: #fff;width: 100px;height: 100px;border-radius: 50%;padding: 20px;}
  .polaris_blk3_sub_sec_mini1_wrp{background-color: #303680;border-right: 1px solid #fff;}
  .polaris_blk3_sub_sec_mini2_wrp{background-color: #13b418;border-right: 1px solid #fff;}
  .polaris_blk3_sub_sec_mini3_wrp{background-color: #f2c91f;border-right: 1px solid #fff;}
  .polaris_blk3_sub_sec_mini4_wrp{background-color: #f07d60;}
  .polaris_blk3_logo_sec_wrp img{display: block;width: 100%;margin-bottom: 0;box-shadow:none}
  .polaris_blk3_text_wrp{width: 67%;}
  .polaris_blk3_text_wrp p{font-size: 30px;line-height: 36px;font-weight: 700;color: #fff;}


  /* -------------------------------------------------block4----------------------------------------------- */
.polaris_blk4_main_wrp{
  
  background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block4_bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 0;    padding-bottom: 0;}
.polaris_blk4_main_sub_wrp{
background: url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/bottom_left_icon.png),url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/top_left_icon.png),url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/bottom_right_icon.png),url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/top_right_icon.png),url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/left_icon.png),url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/right_icon.png),url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/top_icon.png),url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/bottom_icon.png),url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_home_team_bg.webp);
background-position: 0 100%,0 0,100% 100%,100% 0,0,100%,top,bottom,50%!important;
background-repeat: no-repeat;
border-radius: 10px;
background-size: auto,auto,auto,auto,13px 100%,14px 100%,100% 11px,100% 12px,cover;
margin-bottom: 0;
min-height: 1px;
overflow: hidden;
padding: 10px;
margin: 1%!important;
position: relative;
padding: 60px 40px;}  



.polaris_blk4_main_sub_wrp h1{font-size: 60px;line-height: 66px;font-weight: 900;text-transform: uppercase;    background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(239,239,243,1) 49%, rgba(209,208,219,1) 51%, rgba(255,255,255,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 0px 5px #000000);
  -webkit-text-stroke: 1px #f2f4f8;
  display: block;text-align: center;margin-bottom: 25px;}
.polaris_blk4_sub_wrp{display: flex;justify-content: space-between;flex-wrap: wrap;}  
.polaris_blk4_sub_sec_wrp{width: 32%;padding: 20px;border: 3px solid #fff;border-radius: 10px;display: flex;flex-direction: column;justify-content: space-between;align-items: center;background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/team_block_sec_bg.webp);
  background-repeat: no-repeat;background-size: cover;background-position: center;}
.polaris_blk4_sub_sec_img_wrp{border: 3px solid #fff;border-radius: 10px;    height: 365px;overflow: hidden;margin-bottom: 20px;    width: 100%;}
.polaris_blk4_sub_sec_img_wrp img{width: 100%;
  height: 100%;
  object-fit: cover;}
.polaris_blk4_sub_sec_heading_wrp{background-color: #37393e;padding: 10px 20px;width: 100%;margin-bottom: 20px;} 
.polaris_blk4_sub_sec_heading_wrp h2{font-size: 33px;line-height: 39px;font-weight: 800;background: linear-gradient(180deg, rgba(251,251,251,1) 0%, rgba(175,178,183,1) 100%);    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 0px 5px #000000);
  -webkit-text-stroke: 1px #f2f4f8;
  display: block;text-transform: uppercase;text-align: center;} 
.polaris_blk4_sub_sec_p_wrp {width: 80%;margin: 0 auto; margin-bottom: 20px;}  
.polaris_blk4_sub_sec_p_wrp p{font-size: 27px;line-height: 33px;font-weight: 400;text-align: center;color: #011128;}
.team_sec_btn{background: linear-gradient(180deg, rgba(241,242,244,1) 0%, rgba(156,162,172,1) 100%);padding: 10px 30px;border-radius: 10px;border: 1px solid #000;
margin: 0 auto;font-size: 26px;line-height: 32px;font-weight: 500;color: #000;text-align: center;cursor: pointer;}


/* ----------------------------------------------------------block5------------------------------------------------- */
.polaris_blk5_main_wrp{background-image:url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_home_blk5_man_img.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block4_bg.webp);
background-repeat: no-repeat;background-size:auto, cover;background-position:right -118px bottom -256px, center;padding: 40px 0;padding-top: 70px;   margin-top: -30px;
}
.polaris_blk5_sub_wrp h5{font-size: 30px;line-height: 36px;font-weight: 500;color: #2c3955;margin: 20px 0;}
.polaris_blk5_sub_wrp{width: 53%;}
.polaris_blk5_sub_sec_wrp{padding: 40px;background-color: #fff;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;border-radius: 15px;border: 1px solid #000;}
.input_fields{width: 100%;margin-bottom: 15px;}
.polaris_blk5_sub_wrp h1{font-size: 42px;line-height: 48px;font-weight: 800;color: #07286d;text-transform: uppercase;margin-bottom: 25px;}
.polaris_blk5_sub_wrp h1 span{background: linear-gradient(180deg, rgba(244,130,1,1) 0%, rgba(232,78,3,1) 100%);-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
  .input_fields_text{    width: 100%;
    margin-bottom: 20px !important;
    outline: none;
    background-color: #ffffff;}

.polaris_blk5_main_wrp .polaris_home_button{margin: 0 0 0 auto;display: block;} 



/* -----------------------------------------responsive--------------------------- */
@media(max-width:1860px){
  .polaris_position_img{    right: 265px;}
}
@media(max-width:1790px){
  .polaris_blk1_main_wrp{    background-position: left 190px bottom,left -100px bottom,center;}
}

@media(max-width:1720px){
  .common_width{width: 96%;}
  .polaris_blk2_sub1_wrp{    width: 51%;}
  .polaris_blk5_main_wrp{    background-position: right -178px bottom -256px, center;}
}
@media(max-width:1670px){
  .polaris_position_img{    right: 172px;}
  .polaris_home_wrp{    background-position: right 1px bottom -288px,center;}
  .polaris_blk3_text_wrp p{    font-size: 25px;
    line-height: 32px;}
}
@media(max-width:1580px){
  .polaris_blk1_main_wrp{    background-position: left 79px bottom,left -100px bottom,center;}
  .polaris_blk2_main1_wrp{    background-position: right 270px bottom -100px,right bottom;}
}
@media(max-width:1560px){
  .polaris_position_img{    right: 46px;}
  .polaris_home_wrp{    background-position: right 1px bottom -189px,center;}
  .polaris_blk3_text_wrp p{    font-size: 22px;
    line-height: 28px;}
    .polaris_blk3_logo_sec_wrp{    width: 85px;
      height: 85px;}
      .polaris_blk5_main_wrp{    background-position: right -268px bottom -256px, center;}
}
@media(max-width:1460px){
  .polaris_blk2_main1_wrp{    background-position: right 135px bottom 0px,right bottom;}
}

@media(max-width:1420px){
  .polaris_position_img{    right: 94px;
    bottom: -189px;}
  /* .polaris_home_sub_left1_wrp{    border-radius: 0px 234px 65px 0px;} */
  .polaris_home_sub_left1_wrp::after{    background-size: 120px;    top: -39px;
    left: 755px;}
    .polaris_home_sub_left1_mini1_wrp p{    font-size: 24px;
      line-height: 30px;}
      .polaris_home_sub_left1_mini1_wrp{    left: 18px;
      }
      .polaris_home_sub_left1_wrp h1{    font-size: 36px;
        line-height: 42px;}
        .polaris_home_sub_left_wrp h1{font-size: 63px;
          line-height: 71px;}
          .polaris_blk1_sub_wrp h1{    font-size: 37px;
            line-height: 47px;}
            .polaris_blk1_sub_wrp p{    font-size: 22px;
              line-height: 29px;}
              .polaris_blk2_sub1_wrp h4{    font-size: 21px;
                line-height: 27px;}
                .polaris_blk2_sub1_wrp h1{    font-size: 36px;
                  line-height: 40px;}
                  .polaris_blk2_sub2_right_wrp h1{font-size: 28px;
                    line-height: 34px;}
                    .polaris_blk2_sub2_right_wrp p{    font-size: 21px;
                      line-height: 27px;
                  }
                  .polaris_blk3_sub_wrp h1{    font-size: 35px;
                    line-height: 42px;}
                    .polaris_blk4_main_sub_wrp h1{    font-size: 35px;
                      line-height: 41px;
                      font-weight: 700;}
                      .polaris_blk4_sub_sec_heading_wrp h2{    font-size: 25px;
                        line-height: 31px;
                        font-weight: 700;
                    }
                    .polaris_blk4_sub_sec_p_wrp p{    font-size: 21px;
                      line-height: 27px;}
                      .polaris_blk5_sub_wrp h1{    font-size: 35px;
                        line-height: 42px;
                        font-weight: 700;}
                        .polaris_home_button{font-size: 23px;
                          line-height: 28px;}
                          .team_sec_btn{font-size: 23px;
                            line-height: 28px;}
                            .polaris_blk5_main_wrp{    background-position: right -338px bottom -256px, center;}
                            .polaris_blk5_sub_wrp h5{    font-size: 24px;
                              line-height: 30px;    margin: 17px 0;}
}
@media(max-width:1350px){
  .polaris_home_sub_left1_wrp::after{    top: -57px;
    left: 665px;
}
.polaris_blk1_main_wrp{    background-position: left -21px bottom,left -100px bottom,center;}
}
@media(max-width:1299px){
  .polaris_home_sub_left1_mini1_wrp p{font-size: 20px;
    line-height: 25px;}
    .polaris_home_sub_left_wrp h1{    font-size: 53px;
      line-height: 62px;}
}
@media(max-width:1250px){
  .polaris_home_sub_left1_wrp::after{    top: -57px;
    left: 665px;
}
.polaris_blk2_sub1_wrp{    width: 50%;}
.polaris_blk3_text_wrp p{    font-size: 20px;
  line-height: 26px;}
  .polaris_blk3_text_wrp{width: 64%;}
}
