.common_width{width: 1675px;margin: 0 auto;}
.polaris_demo_wrp img{display: block;width: 100%;}

.polaris_home_wrp{    background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_banner_img_new.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_home_banner_bg.webp);
    background-repeat: no-repeat;
    background-size: 33% auto,cover;
    background-position: right 1px bottom -420px,center;
    position: relative;
    padding-bottom: 65px;z-index: 999999;}
.polaris_home_sub_left_wrp h1{  padding-left: 185px;position: relative; margin-bottom: 75px; }
    .polaris_home_sub_left_wrp h1 span{   
      font-size: 85px;
      line-height: 90px;
      font-weight: 800;
      background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(239,239,243,1) 49%, rgba(209,208,219,1) 51%, rgba(255,255,255,1) 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(0px 0px 5px #000000);
      -webkit-text-stroke: 1px #f2f4f8;
      display: inline;
    
     }
    .polaris_home_sub_left_wrp h1::before{    position: absolute;
        content: '';
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris_service_page/polaris_banner_sec_round_img.webp);
        background-size: 100% 100%;
        width: 190px;
        height: 149px;
        top: 21px;
        left: -10px;}
.polaris_home_sub_left_wrp{    width: 65%;} 
.polaris_position_img{    display: block;
    position: absolute;
    right: 215px;
    bottom: -229px;
    width: auto;
    z-index: 99;}     
.polaris_home_sub_left1_wrp{background: #ffffff;
background-repeat: no-repeat;background-position: center;background-size: 100% 100%;    width: 62%;
padding: 15px;

padding-bottom: 64px;
margin-left: 210px;
padding-top: 26px;    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));} 
.polaris_home_sub_left1_wrp::after { position: absolute;
    content: '';
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/green_bfr_new_img.png);
    background-size: 100% 100%;
    width: 250px;
    height: 250px;
    top: -92px;
    left: 532px;
    background-repeat: no-repeat;}
    .polaris_home_sub_left1_wrp h1{font-size: 48px;line-height: 54px;font-weight: 800;font-style: italic;text-transform: uppercase;color: #153243;margin-bottom: 20px;width: 60%;    margin-left: 0px; position: relative; z-index: 1;}
    .polaris_home_sub_left1_wrp h1 span.gredtxt{background: linear-gradient(180deg, rgba(251,192,0,1) 0%, rgba(255,140,0,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;}
    .polaris_home_sub_left1_mini1_wrp{background-image:url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/bnnr_ogng_new_bg.webp);
    background-repeat: no-repeat;background-position: center;background-size: 100% 100%;
     width: 75%;
    padding: 15px;
    margin-left: -99px;}
    .polaris_home_sub_left1_mini1_wrp p{font-size: 27px;line-height: 33px;font-weight: 600;color: #000;margin-left: 0px;}
.spn1 {margin-left: -35px;}
.spn2 {margin-left: -49px;}
.spn3 {margin-left: -65px;}
.polaris_home_sub_left1_wrp h1 span {background: linear-gradient(180deg, rgba(62,94,102,1) 0%, rgba(15,44,62,1) 100%);-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
  .polaris_home_sub_left1_wrp{position: relative;}
  .polaris_home_sub_left1_wrp:before{
    content: ""; background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/bnnr_txt_before_white_bg.webp);background-repeat: no-repeat; background-position: left top; background-size: 100% 100%; height: 100%;     width: 151px;
    left: -149px;top: 50%; transform: translateY(-50%);position: absolute;
  }
  .polaris_home_sub_left1_mini1_wrp{position: relative;    border: 2px solid #fff;
    border-radius: 0 15px 15px 0;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;}
  .polaris_home_sub_left1_mini1_wrp:before{
    content: ""; background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/home_bnnr_orng_before_img.webp);background-repeat: no-repeat; background-position: left top; background-size: 100% 100%; height: 99.7%;
    width: 52px;
    left: -51px;
    top: 49.69%; transform: translateY(-50%);position: absolute;
  }
  .polaris_home_sub_left1_mini1_wrp::after{
    content: ""; background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/orng_div_shadow_aftr.webp);background-repeat: no-repeat; background-position: left top; background-size: 100% 100%;     height: 25px;
    width: 107%;
    left: 47%;
    bottom: -26px;transform: translateX(-50%);position: absolute;
  }
    /* ----------------------------------block1----------------------------------- */
    .polaris_blk1_main_wrp{background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block1_man_img.webp),
        url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block1_img_new.webp),
        url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_1st_blk_bg_new.webp);background-repeat: no-repeat;background-size: auto,auto,cover;
        background-position: left 280px bottom,left -100px bottom,center;padding: 40px 0;    position: relative;
        z-index: 999999;}
    .polaris_blk1_sub_wrp{padding-left: 42%;} 
    .polaris_blk1_sub_wrp h1 span{font-size: 50px;line-height: 56px;font-weight: 900;text-transform: uppercase;   background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(239,239,243,1) 49%, rgba(209,208,219,1) 51%, rgba(255,255,255,1) 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(0px 0px 5px #000000);
      -webkit-text-stroke: 1px #f2f4f8;
      display: inline;}  
    .polaris_blk1_sub_wrp h1{margin-bottom: 20px;} 
    .polaris_blk1_sub_wrp p span{color: #ff9700;}
    .polaris_blk1_sub_wrp p{font-size: 26px;line-height: 32px;font-weight: 500;color: #c5d0e0;position: relative;padding-left: 20px;margin-bottom: 20px;border-left: 5px solid #17d3ff;}
    .polaris_home_button{font-size: 30px;line-height: 36px;font-weight: 700;color: #fff;width: fit-content;padding: 15px 30px;border-radius: 10px;border: 1px solid #95b1d7;
        text-shadow: 0 2px 10px rgba(0,0,0,.4);background: linear-gradient(180deg, rgba(17,145,209,1) 0%, rgba(18,87,164,1) 100%);text-transform: uppercase;cursor: pointer;font-family: "Roboto", sans-serif;}

        /* -------------------------------------------block2----------------------------------------------------- */

    .polaris_blk2_main_wrp{background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block2_bg.webp);
        background-repeat: no-repeat;background-position:center;background-size: cover;    padding-bottom: 40px;}    
    .polaris_blk2_main1_wrp{background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block2_lady_img_new.webp),
        url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block2_back_img.webp);
        background-repeat: no-repeat;    background-position: right 330px bottom -100px,right bottom;background-size: auto,auto;padding: 40px 0;}    
  .polaris_blk2_sub1_wrp{width: 55%;}
  .polaris_blk2_sub1_wrp h1{font-size: 50px;line-height: 56px;font-weight: 900;text-transform: uppercase;color: #07286d;margin-bottom: 25px;}
  .polaris_blk2_sub1_wrp h4{font-size: 26px;line-height: 32px;font-weight: 600;color: #313337;margin-left: 30px;position: relative;margin-bottom: 20px;}
  .polaris_blk2_sub1_wrp h4::after{    content: '';
    position: absolute;
    background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/red_bullet_point.png);
    background-repeat: no-repeat;
    width: 23px;
    height: 24px;
    left: -31px;
    top: 4px;}
  .polaris_blk2_sub1_wrp p{font-size: 20px;line-height: 26px;font-weight: 500;color: #313337;margin-left: 53px;margin-bottom: 20px;position: relative;}

  .polaris_blk2_sub1_wrp p::after{    content: '';
    position: absolute;
    background-image: url(https://all-frontend-assets.s3.amazonaws.com/beto_paredes_nest/join_us_rep/join_as_rep_blue_bullet_point.png);
    background-repeat: no-repeat;
    width: 23px;
    height: 24px;
    left: -31px;
    top: 0px;}
  .polaris_blk2_sub2_wrp{background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_home_block2_sec2_bg.webp);
    background-repeat: no-repeat;background-position: center;background-size: cover;padding: 25px 97px;border-radius: 15px;border: 2px solid #000;display: flex;justify-content: space-between;
    align-items: center;} 
  .polaris_blk2_sub2_left_wrp{width: 25%;}  
  .polaris_blk2_sub2_left_wrp img{display: block;width: 100%;}
  .polaris_blk2_sub2_right_wrp{width: 70%;}
  .polaris_blk2_sub2_right_wrp h1{font-size: 38px;line-height: 44px;font-weight: 900;color: #fff;text-transform: uppercase;margin-bottom: 20px;    text-shadow: 0 2px 10px rgba(0,0,0,.4);}
  .polaris_blk2_sub2_right_wrp h1 span{background: linear-gradient(180deg, rgba(255,246,0,1) 0%, rgba(216,255,0,1) 100%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
  .polaris_blk2_sub2_right_wrp p{font-size: 25px;line-height: 32px;font-weight: 600;color: #fff;    text-shadow: 0 2px 10px rgba(0,0,0,.4);}

  /* ----------------------------------------block3------------------------------------------------ */

  .polaris_blk3_main_wrp{background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block4_new_bg.webp);
    background-repeat: no-repeat;background-position: center;background-size: cover;padding: 40px 0;}
  .polaris_blk3_sub_wrp h1{font-size: 50px;line-height: 56px;font-weight: 900;text-transform: uppercase;text-align: center;color: #07286d;margin-bottom: 20px;} 
  .polaris_blk3_sub_wrp img{display: block;width: 100%;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;margin-bottom: 30px;} 
  .polaris_blk3_sub_sec_wrp{display: flex;flex-wrap: wrap;}
  .polaris_blk3_sub_sec_mini_wrp{width: 25%;padding: 20px;display: flex;justify-content: space-between;    align-items: center;}
  .polaris_blk3_logo_wrp{width: 30%;}
  .polaris_blk3_logo_sec_wrp{display: flex;justify-content: center;align-items: center;background-color: #fff;width: 100px;height: 100px;border-radius: 50%;padding: 20px;}
  .polaris_blk3_sub_sec_mini1_wrp{background-color: #303680;border-right: 1px solid #fff;}
  .polaris_blk3_sub_sec_mini2_wrp{background-color: #13b418;border-right: 1px solid #fff;}
  .polaris_blk3_sub_sec_mini3_wrp{background-color: #f2c91f;border-right: 1px solid #fff;}
  .polaris_blk3_sub_sec_mini4_wrp{background-color: #f07d60;}
  .polaris_blk3_logo_sec_wrp img{display: block;width: 100%;margin-bottom: 0;box-shadow:none}
  .polaris_blk3_text_wrp{width: 67%;}
  .polaris_blk3_text_wrp p{font-size: 30px;line-height: 36px;font-weight: 700;color: #fff;}
  .polaris_blk3_1sub_wrp{background-color: #fff;padding: 20px;border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;margin-bottom: 20px;display: flex;justify-content: center;
    align-items: start;}
  .polaris_blk3_evn_od{width: 33%;display: flex;flex-direction: column;border-right: 3px solid #d4d4d9;}
  .polaris_blk3_evn_od:last-child{border-right: none;}
  .polaris_blk3_evn_od_heading{background-color: #ededef;padding:20px 10px;border-radius: 10px 0px 0 10px;justify-content: center;align-items: center;}
  .polaris_blk3_evn_od:nth-child(2) .polaris_blk3_evn_od_heading{border-radius: unset;}
  .polaris_blk3_evn_od:nth-child(3) .polaris_blk3_evn_od_heading{border-radius: 0px 10px 10px 0px;}
  .polaris_blk3_evn_od_heading h1{font-size: 23px;line-height: 32px;font-weight: 500;color: #000;text-align: center;margin-bottom: 0;}
  .polaris_blk3_evn_od_heading_white{background-color: #ffffff;padding:20px 20px;border-radius: 10px;display: flex;justify-content: left;
    align-items: center;
    padding-left: 151px;}
  .polaris_blk3_evn_od_heading_white p{font-size: 20px;line-height: 26px;font-weight: 400;color: #34383d;position: relative;margin-left: 25px;}
  .polaris_blk3_evn_od_heading_white p::after{    content: '';
    position: absolute;
    background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/green_bullet_point.png);
    background-repeat: no-repeat;
    width: 23px;
    height: 24px;
    left: -31px;
    top: 0px;}
    .polaris_blk3_evn_od_heading_gray{background-color: #f7f7f7;padding:20px 20px;border-radius: 10px;display: flex;justify-content: left;
      align-items: center;
      padding-left: 151px;}
    .polaris_blk3_evn_od_heading_gray p{font-size: 20px;line-height: 26px;font-weight: 400;color: #34383d;position: relative;margin-left: 25px;}
    .polaris_blk3_evn_od_heading_gray p::after{    content: '';
      position: absolute;
      background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/green_bullet_point.png);
      background-repeat: no-repeat;
      width: 23px;
      height: 24px;
      left: -31px;
      top: 0px;}


  /* -------------------------------------------------block4----------------------------------------------- */
.polaris_blk4_main_wrp{
  
  background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block4_new_bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 0;    padding-bottom: 0;}
.polaris_blk4_main_sub_wrp{
background: url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/bottom_left_icon.png),url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/top_left_icon.png),url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/bottom_right_icon.png),url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/top_right_icon.png),url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/left_icon.png),url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/right_icon.png),url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/top_icon.png),url(https://d37pbainmkhx6o.cloudfront.net/transcendentpagan/assets/images/bottom_icon.png),url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_home_team_bg.webp);
background-position: 0 100%,0 0,100% 100%,100% 0,0,100%,top,bottom,50%!important;
background-repeat: no-repeat;
border-radius: 10px;
background-size: auto,auto,auto,auto,13px 100%,14px 100%,100% 11px,100% 12px,cover;
margin-bottom: 0;
min-height: 1px;
overflow: hidden;
padding: 10px;
margin: 1%!important;
position: relative;
padding: 60px 40px;}  



.polaris_blk4_main_sub_wrp h1{font-size: 60px;line-height: 66px;font-weight: 900;text-transform: uppercase;    background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(239,239,243,1) 49%, rgba(209,208,219,1) 51%, rgba(255,255,255,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 0px 5px #000000);
  /* -webkit-text-stroke: 1px #f2f4f8; */
  display: block;text-align: center;margin-bottom: 25px;}
.polaris_blk4_sub_wrp{display: flex;justify-content: space-between;flex-wrap: wrap;}  
.polaris_blk4_sub_sec_wrp{width: 32%;padding: 20px;border: 3px solid #fff;border-radius: 10px;display: flex;flex-direction: column;justify-content: space-between;align-items: center;background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/team_block_sec_bg.webp);
  background-repeat: no-repeat;background-size: 100% 100%;background-position: center;}
.polaris_blk4_sub_sec_img_wrp{border: 3px solid #fff;border-radius: 10px;    height: 365px;overflow: hidden;margin-bottom: 20px;    width: 100%;}
.polaris_blk4_sub_sec_img_wrp img{width: 100%;
  height: 100%;
  object-fit: cover;}
.polaris_blk4_sub_sec_heading_wrp{background-color: #37393e;padding: 10px 20px;width: 100%;margin-bottom: 20px;} 
.polaris_blk4_sub_sec_heading_wrp h2{font-size: 33px;line-height: 39px;font-weight: 800;background: linear-gradient(180deg, rgba(251,251,251,1) 0%, rgba(175,178,183,1) 100%);    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 0px 5px #000000);
  /* -webkit-text-stroke: 1px #f2f4f8; */
  display: block;text-transform: uppercase;text-align: center;} 
.polaris_blk4_sub_sec_p_wrp {width: 80%;margin: 0 auto; margin-bottom: 20px;}  
.polaris_blk4_sub_sec_p_wrp p{font-size: 27px;line-height: 33px;font-weight: 400;text-align: center;color: #011128;}
.team_sec_btn{background: linear-gradient(180deg, rgba(241,242,244,1) 0%, rgba(156,162,172,1) 100%);border-radius: 10px;border: 1px solid #000;
margin: 0 auto;font-size: 26px;line-height: 32px;font-weight: 500;color: #000;text-align: center;cursor: pointer;}

.team_sec_btn a {display: block; padding: 10px 30px;}


/* ----------------------------------------------------------block5------------------------------------------------- */
.polaris_blk5_main_wrp{background-image:url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_home_blk5_man_img.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block4_bg.webp);
background-repeat: no-repeat;background-size:auto, cover;background-position:right -118px bottom -256px, center;padding: 40px 0;padding-top: 70px;   margin-top: -30px;
}
.polaris_blk5_sub_wrp h5{font-size: 30px;line-height: 36px;font-weight: 500;color: #2c3955;margin: 20px 0;}
.polaris_blk5_sub_wrp{width: 53%;}
.polaris_blk5_sub_sec_wrp{padding: 40px;background-color: #fff;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;border-radius: 15px;border: 1px solid #000;}
.input_fields{width: 100%;margin-bottom: 15px !important;}
.polaris_blk5_sub_wrp h1{font-size: 42px;line-height: 48px;font-weight: 800;color: #07286d;text-transform: uppercase;margin-bottom: 25px;}
.polaris_blk5_sub_wrp h1 span{background: linear-gradient(180deg, rgba(244,130,1,1) 0%, rgba(232,78,3,1) 100%);-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
  .input_fields_text{    width: 100%;
    margin-bottom: 20px !important;
    outline: none;
    background-color: #ffffff;}

.polaris_blk5_main_wrp .polaris_home_button{margin: 0 0 0 auto;display: block;} 

.hm_form {margin-bottom: 5PX;}

/* -----------------------------------------responsive--------------------------- */
@media(max-width:1860px){
  .polaris_position_img{     right: 176px;
    width: 634px;}
}
@media(max-width:1790px){
  .polaris_blk1_main_wrp{    background-position: left 190px bottom,left -100px bottom,center;}
}

@media(max-width:1720px){
  .common_width{width: 96%;}
  .polaris_blk2_sub1_wrp{    width: 51%;}
  .polaris_blk5_main_wrp{    background-position: right -178px bottom -256px, center;}
  .polaris_blk3_evn_od_heading h1{    font-size: 18px;
    line-height: 25px;}
}
@media(max-width:1670px){
  .polaris_position_img{    right: 92px;}
  .polaris_home_wrp{    background-position: right 1px bottom -288px,center;}
  .polaris_blk3_text_wrp p{    font-size: 25px;
    line-height: 32px;}
}
@media(max-width:1590px){
  .polaris_blk3_evn_od_heading_gray{    padding-left: 80px;}
  .polaris_blk3_evn_od_heading_white{    padding-left: 80px;}
  .polaris_blk3_evn_od_heading_white p{font-size: 17px;line-height: 23px;}
  .polaris_blk3_evn_od_heading_gray p{font-size: 17px;line-height: 23px;}

}

@media(max-width:1580px){
  .polaris_blk1_main_wrp{    background-position: left 79px bottom,left -100px bottom,center;}
  .polaris_blk2_main1_wrp{    background-position: right 270px bottom -100px,right bottom;}
  .polaris_home_sub_left1_wrp h1 {font-size: 42px; line-height: 50px;}
  .polaris_home_sub_left1_wrp::after {
    
    width: 200px;
    height: 200px;}
}
@media(max-width:1560px){
  .polaris_position_img{      width: 534px;  right: 46px;}
  .polaris_home_wrp{    background-position: right 1px bottom -189px,center;}
  .polaris_blk3_text_wrp p{    font-size: 22px;
    line-height: 28px;}
    .polaris_blk3_logo_sec_wrp{    width: 85px;
      height: 85px;}
      .polaris_blk5_main_wrp{    background-position: right -268px bottom -256px, center;}
      
}
@media(max-width:1460px){
  .polaris_blk2_main1_wrp{    background-position: right 135px bottom -73px,right bottom;}
}
@media(max-width:1440px){
  /* .polaris_home_sub_left1_mini1_wrp {
   left: 22px;
} */
.polaris_home_sub_left1_wrp::after{
  top: -58px;
  left: 510px;
  width: 260px;
  height: 247px;
}

.polaris_home_sub_left1_mini1_wrp{
  width: 81%;
}
}
@media(max-width:1420px){
  .polaris_blk3_evn_od_heading_gray{padding-left: 61px;}
  .polaris_blk3_evn_od_heading_white{    padding-left: 61px;}
  .polaris_blk3_evn_od_heading h1{font-size: 21px !important;line-height: 27px !important;}
  .polaris_position_img{    right: 24px;
    bottom: -189px;}
  /* .polaris_home_sub_left1_wrp{    border-radius: 0px 234px 65px 0px;} */
  /* .polaris_home_sub_left1_wrp::after{    background-size: 120px;    top: -39px;
    left: 755px;} */
    .polaris_home_sub_left1_mini1_wrp p{    font-size: 24px;
      line-height: 30px;}
      /* .polaris_home_sub_left1_mini1_wrp{    left: 18px;
      } */
      .polaris_home_sub_left1_wrp h1{    font-size: 36px;
        line-height: 42px;}
        .polaris_home_sub_left_wrp h1{font-size: 63px;
          line-height: 71px;}
          .polaris_blk1_sub_wrp h1{    font-size: 37px;
            line-height: 47px;}
            .polaris_blk1_sub_wrp p{    font-size: 22px;
              line-height: 29px;}
              .polaris_blk2_sub1_wrp h4{    font-size: 21px;
                line-height: 27px;}
                .polaris_blk2_sub1_wrp h1{    font-size: 36px;
                  line-height: 40px;}
                  .polaris_blk2_sub2_right_wrp h1{font-size: 28px;
                    line-height: 34px;}
                    .polaris_blk2_sub2_right_wrp p{    font-size: 21px;
                      line-height: 27px;
                  }
                  .polaris_blk3_sub_wrp h1{    font-size: 35px;
                    line-height: 42px;}
                    .polaris_blk4_main_sub_wrp h1{    font-size: 35px;
                      line-height: 41px;
                      font-weight: 700;}
                      .polaris_blk4_sub_sec_heading_wrp h2{    font-size: 25px;
                        line-height: 31px;
                        font-weight: 700;
                    }
                    .polaris_blk4_sub_sec_p_wrp p{    font-size: 21px;
                      line-height: 27px;}
                      .polaris_blk5_sub_wrp h1{    font-size: 35px;
                        line-height: 42px;
                        font-weight: 700;}
                        .polaris_home_button{font-size: 23px;
                          line-height: 28px;}
                          .team_sec_btn{font-size: 23px;
                            line-height: 28px;}
                            .polaris_blk5_main_wrp{    background-position: right -338px bottom -256px, center;}
                            .polaris_blk5_sub_wrp h5{    font-size: 24px;
                              line-height: 30px;    margin: 17px 0;}
                              .polaris_blk3_evn_od_heading h1{    font-size: 14px !important;
                                line-height: 20px !important;}
}
@media(max-width:1399px){
  .polaris_home_sub_left1_wrp::after {
    top: -58px;
    left: 510px;
    width: 225px;
    height: 218px;
  }
}

@media(max-width:1350px){
  .polaris_home_sub_left1_mini1_wrp {
     left: 0px;}
}
@media(max-width:1350px){
  /* .polaris_home_sub_left1_wrp::after{    top: -57px;
    left: 665px;
} */
/* .polaris_home_sub_left1_wrp::after{    background-size: 120px;    top: -39px;
  left: 755px;} */
.polaris_blk1_main_wrp{    background-position: left -21px bottom,left -100px bottom,center;}
}
@media(max-width:1330px){
  .polaris_home_sub_left1_wrp::after{    top: -74px;
    left: 390px;}
}
@media(max-width:1299px){
  .polaris_home_sub_left1_mini1_wrp p{font-size: 20px;
    line-height: 25px;}
    .polaris_home_sub_left_wrp h1{    font-size: 53px;
      line-height: 62px;}
      .polaris_home_sub_left_wrp h1 span{    font-size: 70px;
        line-height: 79px;}
}
@media(max-width:1250px){
  /* .polaris_home_sub_left1_wrp::after{      top: -12px;
    left: 595px;
} */
.polaris_blk2_sub1_wrp{    width: 50%;}
.polaris_blk3_text_wrp p{    font-size: 20px;
  line-height: 26px;}
  .polaris_blk3_text_wrp{width: 64%;}
}

@media(max-width:1199px){
  .polaris_blk3_evn_od_heading{border-radius: 10px;}
  .polaris_blk3_evn_od:nth-child(2) .polaris_blk3_evn_od_heading{border-radius: 10px;}
  .polaris_blk3_evn_od:nth-child(3) .polaris_blk3_evn_od_heading{border-radius: 10px;}
  .polaris_home_sub_left_wrp{width: 100%;}
  .polaris_home_sub_left1_wrp{background-image: none;background-color: #fff;border-radius: 10px;width: 100%;    margin-bottom: 500px;padding-bottom: 30px;margin-left: 0px;
    padding-top: 0px;
    filter: unset; padding: 15px;}
  .polaris_home_sub_left1_mini1_wrp{background-image: none;background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/contact/contact_banner_yellow_bg.webp);background-repeat: no-repeat;background-position: center;background-size: 100% 100%;border-radius: 10px;width: 100%;position: unset;margin-left: 0px;}
  .polaris_home_sub_left1_wrp h1{margin-left: 0;width: 100%;}
  .polaris_home_sub_left1_wrp::after{display: none;}
  .polaris_position_img{right: unset; left: 50%;
    bottom: -189px;
    transform: translateX(-50%); width: 483px;}
    .polaris_home_wrp{background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_home_banner_bg.webp);background-repeat: no-repeat;background-position: center;background-size: cover; }
    .polaris_blk1_sub_wrp{padding-left: 0;padding-bottom: 500px;} 
    .polaris_blk1_main_wrp{    background-position: bottom center,left -100px bottom,center;}
    .polaris_blk1_sub_wrp h1 span{    font-size: 40px;
      line-height: 47px;}
      .polaris_blk1_main_wrp .polaris_home_button{margin: 0 auto;display: block;}
      .polaris_blk2_sub1_wrp{    width: 100%;padding-bottom: 570px;}
      .polaris_blk2_main1_wrp{    background-position: bottom -73px right 321px,right bottom; }
      .polaris_blk2_sub2_wrp{flex-direction: column;    padding: 25px 25px;}
      .polaris_blk2_sub2_left_wrp{width: 50%;margin-bottom: 20px;} 
      .polaris_blk2_sub2_right_wrp{width: 70%;}.polaris_blk2_sub2_right_wrp{width: 100%;}
      .polaris_blk2_main_wrp{    padding-bottom: 20px;}
      .polaris_blk3_main_wrp{    padding: 20px 0;}
      .polaris_blk3_evn_od{width: 100%;    margin-bottom: 20px;
        border-right: none;}
      .polaris_blk3_1sub_wrp{flex-wrap: wrap;}
      .polaris_blk3_evn_od:last-child{width: calc(100% - 20px);    margin-top: 20px;}
      .polaris_blk3_evn_od:nth-of-type(2){border-right: none;}
      .polaris_blk3_sub_sec_mini_wrp{width: 50%;}
      .polaris_blk4_sub_sec_wrp{width: 48%;margin-bottom: 20px;}
      .polaris_blk4_sub_sec_wrp:last-child{margin: 0 auto;   
      }
      .polaris_blk5_sub_wrp{width: 100%;padding-bottom: 750px;}
      .polaris_blk5_main_wrp{    background-position: bottom -256px center, center; padding-top: 37px;}
      .polaris_home_sub_left_wrp h1 span{    font-size: 56px;
        line-height: 68px;
    }
    .polaris_home_sub_left1_mini1_wrp p{margin-left: 0;}
    .polaris_blk4_main_wrp{padding: 20px 0;}

    .polaris_home_sub_left1_wrp:before{
display: none;
    }

    .polaris_home_sub_left1_mini1_wrp:before{
      display: none;
    }
    .spn1,.spn2,.spn3{margin-left: 0;}
    .polaris_home_sub_left_wrp h1 {
      padding-left: 128px;
     margin-bottom: 35px;
     margin-top: 12px;
  }
  .polaris_home_sub_left_wrp h1::before {
    width: 134px;
    height: 95px;
    top: -5px;
  }
  .polaris_home_sub_left1_mini1_wrp::after{
  display: none;
  }
      
}
@media(max-width:999px){
  .polaris_blk2_main1_wrp{    background-position: bottom -73px right 141px,right bottom; }
}

@media(max-width:899px){
  .polaris_position_img{    right: -10%;}
}
@media(max-width:768px){
  .polaris_position_img{    right: -17%;}
  .polaris_blk2_main1_wrp{    background-position: bottom -73px right 6px,right bottom; }
  .polaris_blk3_evn_od{width: 100%;margin-bottom: 20px;border-right: none;}
  .polaris_blk3_sub_sec_mini_wrp{width: 100%;margin-bottom: 20px;}
  .polaris_blk4_sub_sec_wrp{width: 100%;}
  .polaris_blk5_sub_wrp h1{text-align: center;}
}
@media(max-width:650px){
  .polaris_home_sub_left_wrp h1::before{  display: none;}
    .polaris_home_sub_left_wrp h1{      font-size: 53px;
      line-height: 53px; padding-left: 0px;  text-align: center;}
    .polaris_position_img{    right: -48%;
      width: 100%;    bottom:0;}
    .polaris_blk5_main_wrp{    background-position: bottom -6px center, center;    background-size: 100%, cover;}
    .polaris_blk5_sub_wrp{    padding-bottom: 87%;}
    .polaris_blk2_main1_wrp{    background-size: 161%,auto;    background-image: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/polaris_block2_lady_img_new.webp), none;
      background-repeat: no-repeat;
  }
    .polaris_blk2_sub1_wrp{    padding-bottom: 83%;}
    .polaris_blk1_main_wrp{    background-size: 100%,auto,cover;}
    .polaris_home_sub_left1_wrp{    margin-bottom: 149%;padding: 15px;padding-bottom: 15px;}
    .polaris_home_sub_left_wrp h1 span{    font-size: 42px;
      line-height: 46px;}
      .polaris_home_sub_left1_wrp h1{    font-size: 24px;
        line-height: 30px;}
        .polaris_home_sub_left1_mini1_wrp{    padding: 10px;}
        .polaris_home_sub_left1_mini1_wrp p{    font-size: 18px;
          line-height: 23px;}
          .polaris_blk1_sub_wrp h1 span{    font-size: 25px;
            line-height: 36px;
            display: inline-block;
            font-weight: 700;}
            .polaris_blk1_sub_wrp p{    font-size: 18px;
              line-height: 25px;padding-left: 0;border-left: unset;}
              .polaris_home_button{    font-size: 17px;
                line-height: 23px;}
                .polaris_blk1_sub_wrp{    padding-bottom: 97%;}
                .polaris_blk2_sub1_wrp h1{    font-size: 30px;
                  line-height: 33px;}
                  .polaris_blk2_sub1_wrp h4{    font-size: 18px;
                    line-height: 24px;}
                    .polaris_blk2_sub1_wrp p{    font-size: 17px;
                      line-height: 23px;}
                      .polaris_blk2_sub2_right_wrp h1{    font-size: 25px;
                        line-height: 32px;}
                        .polaris_blk2_sub2_left_wrp{width: 100%;}
                        .polaris_blk2_sub2_right_wrp p{    font-size: 18px;
                          line-height: 25px;}
                          .polaris_blk4_main_sub_wrp h1{    font-size: 25px;
                            line-height: 35px;}
                            .polaris_blk4_main_sub_wrp{padding: 20px;}
                            .polaris_blk5_sub_wrp h1{    font-size: 25px;
                              line-height: 35px;}
                              .polaris_blk5_sub_wrp h5{    font-size: 18px;
                                line-height: 23px;}
}

@media(max-width:499px){
  .polaris_blk2_sub1_wrp{    padding-bottom: 73%;}
}
@media(max-width:399px){
  .polaris_blk2_sub1_wrp{    padding-bottom: 63%;}
}
