
.polaris_blog_full_page_demo img {
    display: block;
    max-width: 100%;
}
.header_main_wrp {
    position: relative;
    z-index: 3;
}

.polaris_blog_banner_demo {
   margin-top: -277px;
}
.common_width{width: 1675px;margin: 0 auto;}
.polaris_blog_bnnr {
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/blog_page/about_block/polar_blog_bnnr_people.webp),url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/blog_page/about_block/polar_blog_bg.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/blog_page/about_block/polar_blog_blue_bnnr_bg.webp);
    background-repeat: no-repeat;
    background-size: auto, auto 100%, 100% 100%;
    background-position: bottom right 50px, bottom right, top right;
    /* padding: 255px 0 65px; */
    padding-bottom: 65px;
}

.pol_bnnr_h1 h1 {
    position: relative;
    font-size: 133px;
    line-height: 133px;
    font-weight: 800;
    padding-left: 185px;
    text-transform: uppercase;
   
}

.pol_blog_nav{margin-bottom: 20px;}
.pol_bnnr_h1 { margin-bottom: 35px;}

.pol_bnnr_h1 h1 span{
    background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(239,239,243,1) 49%, rgba(209,208,219,1) 51%, rgba(255,255,255,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 5px #000000);
    -webkit-text-stroke: 1px #f2f4f8;
}

.pol_blog_bnnrleft {padding-right: 910px;}
.pol_blog_bnnrleft .pol_bnnr_h1 h1::before {
    position: absolute;
    content: '';
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris_service_page/polaris_banner_sec_round_img.webp);
    background-size: 100% 100%;
    width: 190px;
    height: 149px;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
}

.pol_orng_wrpr{
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/about_page/blockIMG/polar_orng_bg.webp),linear-gradient(180deg, rgba(255,170,54,1) 0%, rgba(254,134,38,1) 100%);
    background-repeat: no-repeat;
    background-size: auto 100%,cover;
    background-position: right bottom,center;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    padding-right: 84px;
    padding-left: 25px;
}

.pol_orng_wrpr p .spn1 {font-size: 47px; line-height: 52px; color: #000000; font-weight: 600;}

.pol_orng_wrpr p .spn2 {font-size: 40px; line-height: 45px; color: #000000; font-weight: 600;}

.pol_orng_wrpr::after {
    position: absolute;
    content: '';
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/about_page/blockIMG/polar_dhal_img.webp);
    background-size:100% 100%;
    width: 210px;
    height: 250px;
    top: 41%;
    transform: translateY(-50%);
    right:-160px;
    background-repeat: no-repeat;
}


.pol_blog_innr {display: flex; justify-content: space-between; flex-wrap: wrap;}

.pol_blog_div{
    border-radius: 10px; border: 3px solid #bdc1c5; padding: 17px; width: calc(50% - 17px); display: flex; flex-direction: column; justify-content: space-between; background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/blog_page/about_block/blog_bg_img2.webp),url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/blog_page/about_block/blog_bg_colr.webp); background-repeat: no-repeat; background-position: bottom -40px center,center; background-size: auto, 100% 100%;    margin-bottom: 25px; }

.pol_blog_img_sec {
    background-color: #fff; padding: 10px; margin-bottom: 15px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pol_blog_img_sec_innr {
    height: 295px; overflow: hidden;
}

.pol_blog_img_sec_innr img {
    display: block; width: 100%; height: 100%; object-fit: cover; object-position: center;
}
.pol_blog_txt_div{margin-bottom: 15px; text-align: center; min-height: 82px;}
.pol_blog_txt_div h2{
    font-size: 32px; line-height: 38px; color: #1d2129; font-weight: 700;
}

.pol_blog_flx_sec {display: flex; justify-content: center; min-height: 95px; flex-wrap: wrap; align-items: flex-start;margin-bottom: 15px;}

.pol_blog_flx_innr{
    background: #c6cacf; padding: 10px; width: 32.33%; margin: 0 0.5% 10px;border-radius: 8px;
}

.pol_blog_flx_innr p{
    font-size: 14px; line-height: 20px; color: #1d2129; font-weight: 700;text-align: center;
}
.pol_blog_orng_div {background: linear-gradient(180deg, rgba(255,158,32,1) 0%, rgba(254,110,20,1) 100%); width: fit-content; padding: 10px 20px; border-radius: 8px; margin-bottom: 20px; margin: 0 auto 35px;}
.pol_blog_orng_div p {  font-size: 22px; line-height: 27px; color: #fff; font-weight: 500; text-align: center;}

.blog_para {min-height: 100px; margin-bottom: 15px;}

.blog_para h4 { font-size: 20px; line-height: 25px; color: #132243; font-weight: 500; text-align: center;}

.continue_bttn {padding: 12px 26px; width: fit-content; margin: 0 auto; background: linear-gradient(180deg, rgba(245,245,246,1) 0%, rgba(147,153,165,1) 100%); border-radius: 8px; border: 2px solid #bdc1c5; margin-top: auto; cursor: pointer;}

.continue_bttn h5 {
    font-size: 30px; line-height: 35px; color: #1d2129; font-weight: 500; text-align: center;
}

.pol_blog_wrpr {padding: 20px; }

@media(max-width:1760px){
    .common_width{
      width: 96%;
    }

    .pol_blog_div .pol_blog_flx_innr {
        padding: 10px;
        width: 46.33%;}
}

@media(max-width:1560px){
    .pol_blog_bnnrleft {
        padding-right: 800px;
    }
    .pol_orng_wrpr::after {
       right: -80px;
        width: 170px;
        height: 202px;}
}


@media (max-width: 1420px){
    .pol_blog_bnnrleft {
        padding-right: 670px;
    }

    .polaris_blog_bnnr {
       
        background-size: auto, auto 100%, 100% 100%;
        background-position: bottom right -150px, bottom right, top right;
        /* padding: 255px 0 65px; */
        padding-bottom: 65px;
    }

    .pol_orng_wrpr p .blog_spn1 {
        font-size: 40px;
        line-height: 52px;
    }
}

@media (max-width: 1366px){
    .pol_blog_div .pol_blog_flx_innr {
        padding: 10px;
        width: 100%;
    }
}

@media (max-width: 1199px){
    .pol_blog_bnnrleft {
        padding-right: 0;
        padding-bottom: 430px;
    }

    .polaris_blog_bnnr {
        background-size: auto, auto 100%, 100% 100%;
        background-position: bottom center, bottom right, top right;}

        .pol_orng_wrpr::after{display: none;}
        .pol_orng_wrpr{padding: 15px;}
        
}
@media (max-width: 899px){
    .pol_blog_div {width: calc(100% - 0px);}
    .pol_blog_div .pol_blog_flx_innr {
        padding: 10px;
        width: 48%;
    }
}

@media (max-width: 599px){
    .pol_bnnr_h1{
        margin-bottom: 15px;
    }

    .pol_bnnr_h1 h1 {
        padding-left: 144px;
        font-size: 90px;
        line-height: 100px;}

        .pol_blog_bnnrleft {
            padding-right: 0;
            padding-bottom: 280px;
        }

        .pol_blog_bnnrleft .pol_bnnr_h1 h1::before {
            position: absolute;
            content: '';
            background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/polaris_service_page/polaris_banner_sec_round_img.webp);
            background-size: 100% 100%;
            width: 148px;
            height: 114px;}

            .polaris_blog_bnnr {
                background-size: 520px, auto 100%, 100% 100%;
               
            }

            .pol_blog_div .pol_blog_flx_innr {
               
                width: 100%;
            }
            .pol_blog_orng_div{
          margin: 0 auto 15px;
            }

            .continue_bttn h5 {
                font-size: 23px;
                line-height: 28px;}

            .pol_blog_txt_div h2 {
                    font-size: 26px;
                    line-height: 32px;}

            .pol_blog_wrpr {
                        padding: 10px;
                    }

            .pol_blog_div{
                 padding: 12px;
                    }

            .pol_blog_txt_div { margin-bottom: 15px; text-align: center; min-height: 65px;}

            .pol_blog_img_sec_innr {
                height: 200px;
                
            }
}
@media (max-width: 399px){
    .pol_bnnr_h1 h1 {
        padding-left: 124px;
        font-size: 60px;
        line-height: 100px;
    }
    
    .pol_blog_bnnrleft .pol_bnnr_h1 h1::before {
        
        width: 126px;
        height: 100px;}

        .pol_orng_wrpr p .spn1 {
            font-size: 42px;
            line-height: 52px;}

        .pol_orng_wrpr p .spn2 {
                font-size: 36px;
                line-height: 42px;
            }
}
