.JDM_bio_page IMG {
    display: block; width: 100%;
}
/* .polaris_JDM_BIO_width{margin-top: -280px;} */





        /* ---------------------------------------------biswarup------------------------------------------- */
.common_width {
    width: 1675px;
    margin: 0 auto;
}
.j_martin_page_banner_main_width {
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/john_d_martin/john_martin_banner_right_nw_img.webp), url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/jeff_donovan/donovan_banner_bg_img.webp);
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100% 100%;
    background-position: bottom -275px right, top right;
    /* padding: 255px 0 65px; */
    padding-bottom: 55px;
}
.j_martin_bnr_left_cont {
    padding-right: 775px;
}
.j_martin_bnr_left_cont h1 {
    font-size: 147px;
    line-height: 152px;
    font-weight: 700;
    background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(239,239,243,1) 49%, rgba(209,208,219,1) 51%, rgba(255,255,255,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 5px #000000);
    -webkit-text-stroke: 1px #f2f4f8;
    display: block;
    margin-bottom: 25px;
}
.yellow_box_sec_main_width {
    position: relative;
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/jeff_donovan/donovan_banner_yellow_box_bg_img.webp), linear-gradient(180deg, rgba(255,170,53,1) 0%, rgba(255,133,33,1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%, cover;
    background-position: bottom right, center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 15px;
}
.yellow_box_sec_main_width h2 {
    font-size: 83px;
    line-height: 90px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    padding-right: 145px;
}
.yellow_box_sec_main_width::after {
    position: absolute;
    content: '';
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/jeff_donovan/donovan_banner_green_logo_img.webp);
    background-size: 100% 100%;
    width: 290px;
    height: 331px;
    top: -60px;
    right: -140px;
}

/* ---------block1---------- */
.j_martin_page_block1_main_width {
    padding: 40px 0;
}
.j_martin_page_block1_white_box {
    background: #f1f3f8;
    border: 1px solid #bdc1c5;
    border-radius: 10px;
    padding: 30px;
}
.block1_white_box_grey_bar {
    background: linear-gradient(180deg, rgba(245,246,248,1) 0%, rgba(162,172,191,1) 100%);
    border: 1px solid #636363;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 25px;
}
.block1_white_box_grey_bar h1 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(180deg, rgba(71,94,125,1) 0%, rgba(15,29,46,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.block1_white_box_left_sec {
    width: 25%;
}
.white_box_left_sec_img_box {
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 1px 10px -5px #000000;
    padding: 10px;
    margin-bottom: 0;
}
.left_sec_img_sub_box {
    overflow: hidden;
}
.white_box_left_sec_img_box img {
    display: block;
    max-width: 100%;
}
.block1_white_box_main_wrpr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block1_white_box_right_sec {
    width: 72%;
}
.block1_white_box_right_sec p {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 20px;
}
.block1_white_box_right_sec p:last-child {
    margin-bottom: 0;
}

/* -----------block2------------ */
.j_martin_page_block2_blue_box {
    background: linear-gradient(95deg, rgba(1,25,73,1) 0%, rgba(0,84,167,1) 100%);
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 30px;
}
.block2_grey_bar {
    position: relative;
    width: fit-content;
    background: linear-gradient(180deg, rgba(245,246,248,1) 0%, rgba(162,172,191,1) 100%);
    border-radius: 5px;
    padding: 10px 20px;
    top: -45px;
}
.block2_grey_bar h1 {
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
    color: #000000;
}
.block2_blue_box_sub_white_box {
    position: relative;
    background: #e6edf4;
    border-radius: 6px;
    padding: 15px;
    top: -20px;
}
.block2_blue_box_sub_white_box p {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 20px;
}
.block2_white_box_sub_heading {
    background: #bed1e4;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.block2_white_box_sub_heading h2 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 500;
    color: #01082a;
    text-align: center;
}
.block2_bullet_cont_main_wrpr {
    display: flex;
    justify-content: space-between;
}
.bullet_cont_part_main_width {
    width: 35%;
}
.orange_bullet_cont {
    position: relative;
    font-size: 25px !important;
    line-height: 30px !important;
    font-weight: 500 !important;
    color: #000000;
    padding-left: 30px;
    margin-bottom: 15px;
}
.orange_bullet_cont::before {
    position: absolute;
    content: '';
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/john_d_martin/orange_bullet_img.webp);
    background-size: 100% 100%;
    width: 21px;
    height: 21px;
    top: 5px;
    left: 0;
}
.green_bullet_cont_wrpr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.green_bullet_cont {
    position: relative;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #000000;
    padding-left: 55px;
    margin-bottom: 10px;
}
.green_bullet_cont::before {
    position: absolute;
    content: '';
    background: #29a90b;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 30px;
}
.bullet_cont_part_main_width.part_3 {
    width: 25%;
}
.part_3 .green_bullet_cont_wrpr {
    flex-direction: column;
}

/* ---------blue_heading----------- */
.blue_heading {
    background: linear-gradient(180deg, rgba(47,74,108,1) 0%, rgba(32,42,65,1) 100%);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
}
.blue_heading h1 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(254,254,254,1) 0%, rgba(210,214,217,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 1px 3px #000000);
    display: inline-block;
}

/* ----------block3----------- */
.j_martin_page_grey_box {
    background: #f1f3f8;
    border: 1px solid #c1c4c8;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}
.block3_sky_bar {
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/john_d_martin/block3_sky_bar_bg_img.webp), linear-gradient(180deg, rgba(17,189,237,1) 0%, rgba(17,159,243,1) 100%);
    background-repeat: no-repeat;
    background-size: auto 100%, cover;
    background-position: top right, center;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 15px;
}
.sky_bar_left_section {
    width: 50%;
    border-right: 2px solid #ffffff;
}
.sky_bar_left_section h2 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 1px 1px 6px #494949;
    margin-bottom: 5px;
}
.sky_bar_left_section p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #000000;
}
.sky_bar_right_section h3 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 1px 1px 6px #494949;
}
.sky_bar_main_wrpr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orange_bullet_cont_wrpr {
    display: flex;
    flex-wrap: wrap;
}
.j_martin_page_block3_main_width .orange_bullet_cont {
    margin-right: 25px;
}
.j_martin_page_block3_main_width .green_bullet_cont_wrpr {
    justify-content: flex-start;
}
.block3_cont_part h2 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, rgba(62,102,124,1) 0%, rgba(21,40,52,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 10px;
}
.block3_cont_part p {
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}
.j_martin_page_sub_box {
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}
.cont_part_main {
    padding: 0 10px;
}

/* ----------block4----------- */
.j_martin_page_block4_main_width .orange_bullet_cont {
    margin-right: 25px;
}
.j_martin_page_block4_main_width .green_bullet_cont_wrpr {
    justify-content: flex-start;
}

/* -------------block5------------ */
.j_martin_page_block5_main_width .orange_bullet_cont {
    margin-right: 10px;
}
.j_martin_page_block5_main_width .orange_bullet_cont:first-child {
    width: 34%;
}
.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(5) {
    width: 34%;
}
.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(2) {
    width: 18%;
}
.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(6) {
    width: 18%;
}
.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(3) {
    width: 22%;
}
.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(7) {
    width: 22%;
}
.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(4) {
    width: 22%;
}
.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(8) {
    width: 22%;
}

/* -------------block6------------ */
.j_martin_page_block5_main_width .orange_bullet_cont {
    margin-right: 10px;
}
.j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:first-child {
    width: 25%;
}
.j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(5) {
    width: 25%;
}
.j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(2) {
    width: 28%;
}
.j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(6) {
    width: fit-content;
}
.j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(3) {
    width: 20%;
}
.j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(4) {
    width: 22%;
}

/* ----------block7------------- */
.j_martin_page_block7_main_width .orange_bullet_cont {
    margin-right: 25px;
}

/* ---------------block8--------------- */
.block3_cont_top_sec_wrpr {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.block3_cont_part h3 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
}
.cont_top_sec_wrpr_right h3 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 10px;
}
.j_martin_page_block8_main_width .block1_white_box_left_sec {
    float: right;
    margin-left: 30px;
}
.j_martin_page_block8_main_width .block1_white_box_right_sec_cont p {
    font-size: 25px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}
.j_martin_page_block8_main_width .cont_part_main {
    padding: 0 20px;
}
.block1_white_box_cont_sec {
    margin: 10px 0 30px 0;
}
.cont_part2_left_sec h3 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
    color: #858a94;
}
.cont_part2_right_sec h4 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    color: #858a94;
}
.part2_cont {
    margin-top: 30px;
}
.j_martin_page_block8_main_width .block1_white_box_right_sec_cont p:last-child {
    margin-bottom: 0;
}

/* ------------block9------------- */
.j_martin_page_block9_main_width .block3_cont_part h3 {
    color: #5d5f62;
    padding-left: 55px;
}
.j_martin_page_block9_main_width .orange_bullet_cont::before {
    left: 20px;
}
.j_martin_page_block9_main_width .orange_bullet_cont {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
}
.block1_white_box_main_width {
    padding: 15px 0;
}
.j_martin_page_block9_main_width .block3_cont_part {
    margin-bottom: 20px;
}
.j_martin_page_block9_main_width .cont_part_main {
    padding: 0 20px;
}
.j_martin_page_block9_main_width .block3_cont_part:last-child {
    margin-bottom: 0;
}





/* ---------------responsive-start------------------- */
@media (max-width: 1820px) {
    .common_width {
        width: 96%;
    }
    .j_martin_page_banner_main_width {
        background-position: bottom -265px right -85px, top right;
    }

    /* -------------block6----------- */
    .j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(4) {
        width: 24%;
    }
    .j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(5) {
        width: fit-content;
    }
}
@media (max-width: 1720px) {
    .j_martin_page_banner_main_width {
        background-position: bottom -315px right -75px, top right;
    }
    .j_martin_bnr_left_cont h1 {
        font-size: 135px;
        line-height: 140px;
    }
    .yellow_box_sec_main_width h2 {
        font-size: 70px;
        line-height: 75px;
    }
    .yellow_box_sec_main_width::after {
        width: 250px;
        height: 280px;
        top: -60px;
        right: -95px;
    }
}
@media (max-width: 1620px) {
    .j_martin_page_banner_main_width {
        background-position: bottom -340px right -85px, top right;
    }
    .j_martin_bnr_left_cont h1 {
        font-size: 125px;
        line-height: 130px;
    }
    .yellow_box_sec_main_width h2 {
        font-size: 60px;
        line-height: 65px;
    }
    .yellow_box_sec_main_width::after {
        width: 250px;
        height: 280px;
        top: -60px;
        right: -95px;
    }

    /* ----------block1----------- */
    .block1_white_box_grey_bar h1 {
        font-size: 55px;
        line-height: 60px;
    }

    /* ------------blue-heading------------- */
    .blue_heading h1 {
        font-size: 55px;
        line-height: 60px;
    }

    /* -------------block8----------- */
    .j_martin_page_block8_main_width .block1_white_box_left_sec {
        margin-left: 25px;
    }
}
@media (max-width: 1520px) {
    .j_martin_page_banner_main_width {
        background-position: bottom -365px right -85px, top right; 
    }
    .j_martin_bnr_left_cont h1 {
        font-size: 115px;
        line-height: 120px;
    }
    .yellow_box_sec_main_width h2 {
        font-size: 50px;
        line-height: 55px;
        padding-right: 125px;
    }
    .yellow_box_sec_main_width::after {
        width: 220px;
        height: 250px;
        top: -60px;
        right: -85px;
    }

    /* ----------block1----------- */
    .block1_white_box_grey_bar h1 {
        font-size: 50px;
        line-height: 55px;
    }
}
@media (max-width: 1420px) {
    .j_martin_page_banner_main_width {
        background-size: 775px, 100% 100%;
        background-position: bottom -305px right, top right;
    }
    .j_martin_bnr_left_cont h1 {
        font-size: 115px;
        line-height: 120px;
    }
    .yellow_box_sec_main_width h2 {
        font-size: 45px;
        line-height: 50px;
        padding-right: 105px;
    }
    .yellow_box_sec_main_width::after {
        width: 200px;
        height: 230px;
        top: -60px;
        right: -85px;
    }

    /* ----------block1----------- */
    .block1_white_box_grey_bar h1 {
        font-size: 45px;
        line-height: 50px;
    }
    .block1_white_box_right_sec p {
        font-size: 23px;
        line-height: 28px;
    }

    /* -----------block2------------ */
    .block2_grey_bar h1 {
        font-size: 40px;
        line-height: 45px;
    }
    .block2_white_box_sub_heading h2 {
        font-size: 35px;
        line-height: 40px;
    }

    /* ------------blue-heading------------- */
    .blue_heading h1 {
        font-size: 50px;
        line-height: 55px;
    }

    /* -----------block3------------ */
    .j_martin_page_grey_box {
        padding: 25px;
    }

    /* ----------block5------------ */
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(3) {
        width: 18%;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(7) {
        width: 18%;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(2) {
        width: 22%;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(6) {
        width: 22%;
    }

    /* -------------block6----------- */
    .j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(4) {
        width: 28%;
    }
}
@media (max-width: 1366px) {
    .j_martin_page_banner_main_width {
        background-size: 735px, 100% 100%;
        background-position: bottom -295px right, top right;
    }
    .j_martin_bnr_left_cont h1 {
        font-size: 105px;
        line-height: 110px;
    }
    .yellow_box_sec_main_width h2 {
        font-size: 40px;
        line-height: 45px;
        padding-right: 70px;
    }
    .yellow_box_sec_main_width::after {
        width: 170px;
        height: 200px;
        top: -50px;
        right: -115px;
    }

    /* ----------block1----------- */
    .block1_white_box_grey_bar h1 {
        font-size: 40px;
        line-height: 45px;
    }
    .block1_white_box_right_sec p {
        font-size: 22px;
        line-height: 28px;
    }

    /* ------------blue-heading------------- */
    .blue_heading h1 {
        font-size: 45px;
        line-height: 50px;
    }

    /* ----------block5------------ */
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(3) {
        width: 16%;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(7) {
        width: 16%;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(2) {
        width: 24%;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(6) {
        width: 24%;
    }

    /* -------------block6----------- */
    .j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(3) {
        width: 25%;
    }

    /* -------------block8----------- */
    .j_martin_page_block8_main_width .block1_white_box_left_sec {
        margin-left: 20px;
    }
}
@media (max-width: 1260px) {
    .j_martin_page_banner_main_width {
        background-size: 685px, 100% 100%;
        background-position: bottom -265px right 15px, top right;
    }
    .j_martin_bnr_left_cont h1 {
        font-size: 95px;
        line-height: 100px;
    }
    .yellow_box_sec_main_width h2 {
        font-size: 37px;
        line-height: 43px;
        padding-right: 30px;
    }
    .yellow_box_sec_main_width::after {
        width: 160px;
        height: 190px;
        top: -40px;
        right: -110px;
    }

    /* ----------block1----------- */
    .block1_white_box_grey_bar h1 {
        font-size: 38px;
        line-height: 43px;
    }
    .block1_white_box_right_sec p {
        font-size: 20px;
        line-height: 25px;
    }

    /* -----------block2------------ */
    .block2_grey_bar h1 {
        font-size: 38px;
        line-height: 43px;
    }

    /* ------------blue-heading------------- */
    .blue_heading h1 {
        font-size: 40px;
        line-height: 45px;
    }

    /* ----------block5------------ */
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(3) {
        width: 15%;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(7) {
        width: 15%;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(2) {
        width: 25%;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(6) {
        width: 25%;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(4) {
        width: 21%;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(8) {
        width: 21%;
    }

    /* -------------block6----------- */
    .j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(4) {
        width: 30%;
    }
}

@media (max-width: 1199px) {
    .j_martin_page_banner_main_width {
        background-size: 735px, cover;
        background-position: bottom -215px center, top right;
        padding-bottom: 35px;
    }
    .j_martin_bnr_left_cont {
        padding-right: 10%;
        padding-bottom: 395px;
    }
    .j_martin_bnr_left_cont h1 {
        font-size: 95px;
        line-height: 100px;
    }
    .yellow_box_sec_main_width h2 {
        font-size: 35px;
        line-height: 40px;
        padding-right: 30px;
    }
    .yellow_box_sec_main_width::after {
        width: 190px;
        height: 210px;
        top: -85px;
        right: -95px;
    }

     /* ----------block1----------- */
     .j_martin_page_block1_main_width {
        padding: 35px 0;
    }
    .block1_white_box_grey_bar {
        margin-bottom: 20px;
    }
    .block1_white_box_grey_bar h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .block1_white_box_right_sec p {
        font-size: 20px;
        line-height: 25px;
    }
    .block1_white_box_main_wrpr {
        flex-direction: column;
    }
    .block1_white_box_left_sec {
        width: 39%;
    }
    .block1_white_box_right_sec {
        width: 100%;
    }
    .white_box_left_sec_img_box {
        margin-bottom: 20px;
    }
    .j_martin_page_block1_white_box {
        padding: 20px;
    }

    /* -----------block2------------ */
    .block2_grey_bar h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .block2_white_box_sub_heading h2 {
        font-size: 32px;
        line-height: 38px;
    }
    .bullet_cont_part_main_width.part_3 {
        width: 28%;
    }

    /* ------------blue-heading------------- */
    .blue_heading h1 {
        font-size: 35px;
        line-height: 40px;
    }

    /* -----------block3------------ */
    .j_martin_page_grey_box {
        padding: 20px;
    }
    .sky_bar_left_section {
        width: 55%;
        padding-right: 10px;
    }
    .sky_bar_right_section {
        padding-left: 10px;
    }
    .sky_bar_left_section h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .sky_bar_left_section p {
        font-size: 18px;
        line-height: 23px;
    }
    .sky_bar_right_section h3 {
        font-size: 25px;
        line-height: 30px;
    }

    /* ----------block5------------ */
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(1) {
        width: fit-content;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(5) {
        width: fit-content;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(3) {
        width: fit-content;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(7) {
        width: fit-content;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(2) {
        width: fit-content;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(6) {
        width: fit-content;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(4) {
        width: fit-content;
    }
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(8) {
        width: fit-content;
    }

    /* -------------block6----------- */
    .j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:first-child {
        width: fit-content;
    }
    .j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(2) {
        width: fit-content;
    }
    .j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(3) {
        width: fit-content;
    }
    .j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(4) {
        width: fit-content;
    }
    .j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(5) {
        width: fit-content;
    }
    .j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont:nth-child(6) {
        width: fit-content;
    }
    .j_martin_page_block6_main_width.j_martin_page_block5_main_width .orange_bullet_cont {
        margin-right: 15px;
    }

    /* -----------block8------------- */
    .block1_white_box_cont_sec {
        display: flex;
        flex-direction: column-reverse;
    }
    .j_martin_page_block8_main_width .block1_white_box_left_sec {
        width: fit-content;
        display: block;
        float: unset;
        margin: 0 auto;
        margin-top: 20px;
    }
    .white_box_left_sec_img_box {
        margin-bottom: 0;
    }
    .block3_cont_part h2 {
        font-size: 30px;
        line-height: 35px;
    }
    /* .block3_cont_part p {
        font-size: 18px;
        line-height: 23px;
    } */
    .cont_top_sec_wrpr_right h3 {
        font-size: 18px;
        line-height: 23px;
    }
    .j_martin_page_block8_main_width .block1_white_box_right_sec_cont p {
        line-height: 31px;  
        margin-bottom: 15px;
    }
    .cont_part2_left_sec h3 {
        font-size: 25px;
        line-height: 30px;
    }
    .cont_part2_right_sec h4 {
        font-size: 20px;
        line-height: 25px;
    }
    .part2_cont {
        margin-top: 20px;
    }

    /* ------------block9------------ */
    .j_martin_page_block9_main_width .block1_white_box_left_sec {
        width: 37%;
        margin-bottom: 20px;
    }
    .j_martin_page_block9_main_width .block3_cont_part {
        margin-bottom: 0px;
    }
}
@media (max-width: 999px) {
    .block2_bullet_cont_main_wrpr {
        flex-direction: column;
    }
    .bullet_cont_part_main_width {
        width: 100%;
    }
    .bullet_cont_part_main_width.part_3 {
        width: 100%;
    }
    .green_bullet_cont_wrpr {
        justify-content: flex-start;
    }
    .part_3 .green_bullet_cont_wrpr {
        flex-direction: unset;
        justify-content: flex-start;
    }
}
@media (max-width: 768px) {
    .j_martin_page_banner_main_width {
        background-size: 715px, cover;
        background-position: bottom -225px center, top right;
        padding-bottom: 25px;
    }
    .j_martin_bnr_left_cont {
        padding-bottom: 375px;
    }
    .j_martin_bnr_left_cont h1 {
        font-size: 75px;
        line-height: 80px;
    }
    .yellow_box_sec_main_width h2 {
        font-size: 30px;
        line-height: 35px;
        padding-right: 30px;
    }
    .yellow_box_sec_main_width::after {
        width: 170px;
        height: 190px;
        top: -75px;
        right: -78px;
    }

    /* ----------block1----------- */
    .j_martin_page_block1_main_width {
        padding: 25px 0;
    }
    .block1_white_box_grey_bar {
        margin-bottom: 15px;
    }
    .block1_white_box_left_sec {
        width: 60%;
    }
    .j_martin_page_block1_white_box {
        padding: 15px;
    }
    .white_box_left_sec_img_box {
        margin-bottom: 15px;
    }
    .block1_white_box_grey_bar h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .block1_white_box_right_sec p {
        margin-bottom: 15px;
    }

    /* -------------block2-------------- */
    /* .j_martin_page_block2_main_width {
        padding: 10px 0;
    } */
    .block2_grey_bar {
        top: 0;
        padding: 10px 15px;
        margin-bottom: 15px;
    }
    .block2_blue_box_sub_white_box {
        top: 0;
    }
    .j_martin_page_block2_blue_box {
        padding: 15px;
        margin-bottom: 25px;
    }
    .block2_grey_bar h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .block2_white_box_sub_heading h2 {
        font-size: 28px;
        line-height: 33px;
    }
    .orange_bullet_cont {
        font-size: 22px !important;
        line-height: 28px !important;
        padding-left: 25px;
    }
    .orange_bullet_cont::before {
        width: 18px;
        height: 18px;
        top: 6px;
    }
    .green_bullet_cont {
        font-size: 18px;
        line-height: 23px;
        padding-left: 45px;
    }
    .green_bullet_cont::before {
        width: 13px;
        height: 13px;
        top: 4px;
        left: 25px;
    }
    .block2_blue_box_sub_white_box p {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .block2_white_box_sub_heading {
        margin-bottom: 15px;
    }

    /* ------------blue-heading------------- */
    .blue_heading {
        margin-bottom: 25px;
    }
    .blue_heading h1 {
        font-size: 30px;
        line-height: 35px;
    }

    /* -----------block3------------ */
    .j_martin_page_grey_box {
        padding: 15px;
        margin-bottom: 25px;
    }
    .block3_sky_bar {
        padding: 15px;
    }
    .sky_bar_main_wrpr {
        flex-direction: column;
    }
    .sky_bar_left_section {
        width: 100%;
        border: none;
        padding-right: 0;
    }
    .sky_bar_right_section {
        width: 100%;
        padding-left: 0;
    }
    .sky_bar_left_section h2 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 6px;
    }
    .sky_bar_left_section p {
        font-size: 18px;
        line-height: 23px;
    }
    .sky_bar_right_section h3 {
        font-size: 22px;
        line-height: 28px;
    }
    .block3_cont_part h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .block3_cont_part p {
        font-size: 22px;
        line-height: 30px;
    }
    .cont_part_main {
        padding: 0 10px;
    }

    /* -----------block8------------ */
    .block3_cont_top_sec_wrpr {
        flex-direction: column;
        align-items: unset;
    }
    .block3_cont_part h2 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    .block3_cont_part h3 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 4px;
    }
    .cont_top_sec_wrpr_right h3 {
        font-size: 17px;
        line-height: 22px;
    }
    .block1_white_box_cont_sec {
        margin: 0 0 20px 0;
    }
    .j_martin_page_block8_main_width .cont_part_main {
        padding: 0 10px;
    }
    .j_martin_page_block8_main_width .block1_white_box_right_sec_cont p {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .cont_part2_left_sec h3 {
        font-size: 24px;
        line-height: 28px;
    }
    .cont_part2_right_sec h4 {
        font-size: 18px;
        line-height: 23px;
    }
    .part2_cont {
        margin-top: 15px;
    }

    /* ------------block9------------ */
    .j_martin_page_block9_main_width .block1_white_box_left_sec {
        width: 60%;
        margin-bottom: 0;
    }
    .j_martin_page_block9_main_width .cont_part_main {
        padding: 0 10px;
    }
    .j_martin_page_block9_main_width .block3_cont_part h3 {
        padding-left: 35px;
    }
    .j_martin_page_block9_main_width .block3_cont_part h3::before {
      left: 10px;
    }
}
@media (max-width: 599px) {
    .j_martin_page_banner_main_width {
        background-size: 625px, cover;
        background-position: bottom -185px center, top right;
    }
    .j_martin_bnr_left_cont {
        padding-right: 10%;
        padding-bottom: 335px;
    }
    .yellow_box_sec_main_width::after {
        width: 145px;
        height: 160px;
        top: -60px;
        right: -67px;
    }
}
@media (max-width: 499px) {
    .j_martin_page_banner_main_width {
        background-size: 405px, cover;
        background-position: bottom -115px center, top right;
        padding-bottom: 25px;
    }
    .j_martin_bnr_left_cont {
        padding-right: 0;
        padding-bottom: 215px;
    }
    .j_martin_bnr_left_cont h1 {
        font-size: 65px;
        line-height: 70px;
        margin-bottom: 10px;
    }
    .yellow_box_sec_main_width {
        padding: 10px;
    }
    .yellow_box_sec_main_width h2 {
        font-size: 25px;
        line-height: 30px;
        padding-right: 0;
    }
    .yellow_box_sec_main_width::after {
        width: 95px;
        height: 100px;
        top: -105px;
        right: -5px;
    }

    /* ----------block1----------- */
    .j_martin_page_block1_main_width {
        padding: 15px 0;
    }
    .block1_white_box_grey_bar {
        margin-bottom: 10px;
    }
    .block1_white_box_left_sec {
        width: 100%;
    }
    .j_martin_page_block1_white_box {
        padding: 10px;
    }
    .white_box_left_sec_img_box {
        margin-bottom: 10px;
    }
    .block1_white_box_grey_bar h1 {
        font-size: 25px;
        line-height: 30px;
    }
    .block1_white_box_right_sec p {
        margin-bottom: 10px;
    }

    /* --------------block2-------------- */
    .j_martin_page_block2_blue_box {
        padding: 10px;
        margin-bottom: 15px;
    }
    .block2_grey_bar {
        padding: 10px;
        margin-bottom: 10px;
    }
    .block2_grey_bar h1 {
        font-size: 25px;
        line-height: 30px;
    }
    .block2_blue_box_sub_white_box {
        padding: 10px;
    }
    .block2_blue_box_sub_white_box p {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .block2_white_box_sub_heading {
        margin-bottom: 10px;
    }
    .block2_white_box_sub_heading h2 {
        font-size: 23px;
        line-height: 28px;
    }
    .orange_bullet_cont {
        font-size: 20px !important;
        line-height: 25px !important;
        padding-left: 20px;
        margin-bottom: 10px;
    }
    .orange_bullet_cont::before {
        width: 15px;
        height: 15px;
        top: 5px;
    }
    .green_bullet_cont {
        font-size: 17px;
        line-height: 22px;
        padding-left: 40px;
    }
    .green_bullet_cont::before {
        width: 12px;
        height: 12px;
        top: 5px;
        left: 20px;
    }

    /* ------------blue-heading------------- */
    .blue_heading {
        border-radius: 6px;
        padding: 10px;
        margin-bottom: 15px;
    }
    .blue_heading h1 {
        font-size: 25px;
        line-height: 30px;
    }

    /* -----------block3------------ */
    .j_martin_page_grey_box {
        padding: 10px;
        margin-bottom: 15px;
    }
    .block3_sky_bar {
        padding: 10px;
        margin-bottom: 10px;
    }
    .sky_bar_left_section h2 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 5px;
    }
    .sky_bar_left_section p {
        font-size: 17px;
        line-height: 22px;
    }
    .sky_bar_right_section h3 {
        font-size: 20px;
        line-height: 25px;
    }
    .block3_cont_part h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .block3_cont_part p {
        font-size: 20px;
        line-height: 26px;
    }
    .orange_bullet_cont_wrpr {
        flex-direction: column;
    }
    .j_martin_page_block3_main_width .orange_bullet_cont {
        margin-right: 0;
    }
    .block3_cont_part p:last-child {
        margin-bottom: 0;
    }

    /* ----------block4----------- */
    .j_martin_page_block4_main_width .orange_bullet_cont {
        margin-right: 0;
    }

    /* -----------block5------------- */
    .j_martin_page_block5_main_width .orange_bullet_cont:nth-child(8) {
        margin-bottom: 0;
    }

    /* -----------block8------------ */
    .block3_cont_part h2 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 5px;
    }
    .block3_cont_part h3 {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 4px;
    }
    .cont_top_sec_wrpr_right h3 {
        font-size: 16px;
        line-height: 21px;
    }
    .block1_white_box_cont_sec {
        margin: 0 0 10px 0;
    }
    .j_martin_page_block8_main_width .cont_part_main {
        padding: 0 10px;
    }
    .j_martin_page_block8_main_width .block1_white_box_right_sec_cont p {
        font-size: 20px;
        line-height: 26px;
    }
    .cont_part2_left_sec h3 {
        font-size: 22px;
        line-height: 27px;
    }
    .cont_part2_right_sec h4 {
        font-size: 17px;
        line-height: 22px;
    }
    .part2_cont {
        margin-top: 10px;
    }
    .j_martin_page_block8_main_width .block1_white_box_left_sec {
        margin-top: 15px;
    }

    /* ------------block9------------ */
    .j_martin_page_block9_main_width .block1_white_box_left_sec {
        width: 100%;
    }
    .block1_white_box_main_width {
        padding: 10px 0;
    }
    .j_martin_page_block9_main_width .block3_cont_part h3 {
        padding-left: 20px;
    }
    .j_martin_page_block9_main_width .block3_cont_part h3::before {
      left: 0;
    }
}

        /* ---------------------------------------------biswarup------------------------------------------- */




/* ------------------------------------------------------------souvik------------------------------------------------------------ */

.polaris_j_martin_page_key_main_main_sub_blk{background-color: #273956;padding: 20px 30px;border-radius: 10px;margin-bottom: 20px;}
.polaris_j_martin_page_key_main_main_sub_blk h1{font-size: 60px;line-height: 66px;font-weight: 800;text-transform: uppercase;text-align: center;    background: linear-gradient(180deg, rgba(251,251,251,1) 0%, rgba(175,178,183,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 5px #000000);
    
    display: block;}
.polaris_j_martin_page_key_main_sub1_main_blk{background-color: #f6f8fa;padding: 20px;border-radius: 15px;border: 1px solid #bdc1c5;margin-bottom: 20px;}    
.polaris_j_martin_page_key_main_sub1_sec1_blk{background-color: #d9e1e7;padding: 15px 25px;margin-bottom: 20px;}
.polaris_j_martin_page_key_main_sub1_sec1_blk h2{font-size: 45px;line-height: 51px;font-weight: 500;color: #000;text-align: center;}
.polaris_j_martin_page_key_main_sub2_main_blk p{font-size: 25px;line-height: 31px;font-weight: 500;color: #000;margin-bottom: 15px;}
.polaris_j_martin_page_key_main_sub2_sec1_blk{display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;}
.polaris_j_martin_page_key_main_sub2_sec1_green{width: 19%;margin-bottom: 15px;}
.polaris_j_martin_page_key_main_sub2_sec1_green p{    position: relative;
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    padding-left: 30px;
    margin-bottom: 15px;}
    .polaris_j_martin_page_key_main_sub2_sec1_green p::after{    position: absolute;
        content: '';
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/john_d_martin/orange_bullet_img.webp);
        background-size: 100% 100%;
        width: 21px;
        height: 21px;
        top: 5px;
        left: 0;}  
.polaris_j_martin_page_key_main_sub2_sec1_green:nth-of-type(3){width: 24%;}   
.polaris_j_martin_page_key_main_sub3_main_blk h6{font-size: 25px;line-height: 31px;font-weight: 500;color: #305477;margin-bottom: 35px;position: relative;text-transform: uppercase;} 
.polaris_j_martin_page_key_main_sub3_main_blk h6::after{      position: absolute;
    content: '';
    background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/home/jhon_p_under_line.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 25%;
    height: 1px;
    bottom: -8px;
    left: 0;}  
.polaris_j_martin_page_key_main_sub3_main_blk .polaris_j_martin_page_key_main_sub2_sec1_green{width: 100%;}  
.polaris_j_martin_page_key_main_sub3_main_blk .polaris_j_martin_page_key_main_sub2_sec1_green:nth-of-type(2){width: 48%;} 
.polaris_j_martin_page_key_main_sub3_main_blk .polaris_j_martin_page_key_main_sub2_sec1_green:nth-of-type(3){width: 48%;}  


.polaris_j_martin_page_key_main_sub4_main_blk .polaris_j_martin_page_key_main_sub3_main_blk .polaris_j_martin_page_key_main_sub2_sec1_green:nth-of-type(2){width: 100%;} 
.flex_wrp_4sub{display: flex;justify-content: space-between;flex-wrap: wrap;}
.flex_wrp_4sub .polaris_j_martin_page_key_main_sub2_sec1_green{width: 48%;}
.polaris_j_martin_page_key_main_sub4_main_blk .polaris_j_martin_page_key_main_sub3_main_blk .flex_wrp_4sub .polaris_j_martin_page_key_main_sub2_sec1_green:nth-of-type(2){width: 48%;} 

.polaris_j_martin_page_key_main_sub5_main_blk .green_bullet_cont{width: 48%;}
.polaris_j_martin_page_key_main_sub5_main_blk .polaris_j_martin_page_key_main_sub3_main_blk h6::after{width: 100%;}
.one_mini .green_bullet_cont{width: 100%;}
.blue_bullet_cont_wrp{display: flex;justify-content: space-between;flex-wrap: wrap;}
.blue_bullet_cont{font-size: 18px !important;line-height: 24px !important;font-weight: 500 !important;color: #000;position: relative;    padding-left: 73px;
    margin-bottom: 10px;width: 48%;}
    .blue_bullet_cont span{color: #0225d9;}
    .blue_bullet_cont::before{    position: absolute;
        content: '';
        background: url(https://all-frontend-assets.s3.amazonaws.com/polaris_project/blue_bullet_point.png);
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        top: 5px;
        left: 50px;}
.two_mini{width: 100% !important;}
.three_mini{width: 100% !important;}
.four_mini .polaris_j_martin_page_key_main_sub2_sec1_green{width: 32%;}
.polaris_j_martin_page_key_main_sub4_main_blk .polaris_j_martin_page_key_main_sub3_main_blk .four_mini .flex_wrp_4sub .polaris_j_martin_page_key_main_sub2_sec1_green:nth-of-type(2){width: 32%;} 
.polaris_j_martin_page_key_main_sub4_main_blk .polaris_j_martin_page_key_main_sub3_main_blk .four_mini .flex_wrp_4sub .polaris_j_martin_page_key_main_sub2_sec1_green:nth-of-type(3){width: 32%;} 
.five_mini .polaris_j_martin_page_key_main_sub2_sec1_green{width: 19%;}
.polaris_j_martin_page_key_main_sub4_main_blk .polaris_j_martin_page_key_main_sub3_main_blk .five_mini .flex_wrp_4sub .polaris_j_martin_page_key_main_sub2_sec1_green:nth-of-type(2){width: 19%;} 
.polaris_j_martin_page_key_main_sub4_main_blk .polaris_j_martin_page_key_main_sub3_main_blk .five_mini .flex_wrp_4sub .polaris_j_martin_page_key_main_sub2_sec1_green:nth-of-type(3){width: 19%;}
.six_mini .polaris_j_martin_page_key_main_sub2_sec1_green{width: 32% !important;}
.seven_mini .polaris_j_martin_page_key_main_sub2_sec1_green{width: 48% !important;}
.eight_mini .polaris_j_martin_page_key_main_sub2_sec1_green{width: 100% !important;}
.ten_mini .green_bullet_cont{width: 18% !important;}
.ten_mini .green_bullet_cont:last-child{width: 43% !important;}
.ten_mini .green_bullet_cont:nth-of-type(2){width: 21% !important;}
.eleven_mini .green_bullet_cont{width: 25% !important;}

@media (max-width: 1630px){
    .polaris_j_martin_page_key_main_main_sub_blk h1{    font-size: 44px;
        line-height: 58px;}
}

@media (max-width: 1530px) {
    .polaris_j_martin_page_key_main_sub2_sec1_green{    width: 23%;}
}
@media (max-width: 1199px){
    .polaris_j_martin_page_key_main_sub3_main_blk .polaris_j_martin_page_key_main_sub2_sec1_green:nth-of-type(2){width: 100%;} 
    .polaris_j_martin_page_key_main_sub3_main_blk .polaris_j_martin_page_key_main_sub2_sec1_green:nth-of-type(3){width: 100%;} 
    .polaris_j_martin_page_key_main_sub3_main_blk h6::after{    width: 100%;} 
    .flex_wrp_4sub .polaris_j_martin_page_key_main_sub2_sec1_green{width: 100%;}
    .polaris_j_martin_page_key_main_sub4_main_blk .polaris_j_martin_page_key_main_sub3_main_blk .flex_wrp_4sub .polaris_j_martin_page_key_main_sub2_sec1_green:nth-of-type(2){width: 100%;} 
}
@media (max-width: 999px) {
    .polaris_j_martin_page_key_main_sub2_sec1_green{    width: 40%;}
    .polaris_j_martin_page_key_main_sub2_sec1_green:nth-of-type(3){width: 40%;}  
    .polaris_j_martin_page_key_main_sub1_sec1_blk h2{    font-size: 35px;
        line-height: 41px;}
        .polaris_j_martin_page_key_main_main_sub_blk h1{    font-size: 40px;
            line-height: 46px;}
}
@media (max-width: 768px){
    .polaris_j_martin_page_key_main_sub2_sec1_green{    width: 100%;}
    .polaris_j_martin_page_key_main_sub2_sec1_green:nth-of-type(3){width: 100%;} 
    .polaris_j_martin_page_key_main_sub2_sec1_green p{    font-size: 22px;
        line-height: 28px;
        padding-left: 25px;} 
        .polaris_j_martin_page_key_main_sub2_sec1_green p::after{    width: 18px;
            height: 18px;
            top: 6px;}
            .polaris_j_martin_page_key_main_sub2_main_blk p{font-size: 23px;
                line-height: 29px;}
}
@media (max-width: 499px){
    .polaris_j_martin_page_key_main_sub2_main_blk p{font-size: 20px;
        line-height: 26px;}
        .polaris_j_martin_page_key_main_sub2_sec1_green p::after{    width: 15px;
            height: 15px;
            top: 5px;}
}
